//- TODO: lots of stuff.
.grid
  .grid-cell.flat-panel
    p.page-title
      i.xo-icon-vm
      | Add SR on {{newSr.container.name_label}}
//- Add server panel
.grid
  .grid-cell.flat-panel
    p.flat-panel-title
      i.fa.fa-info-circle(style="color: #e25440;")
      | SR info
    form.form-horizontal(role="form")
      .form-group
        label.col-sm-3.control-label Type
        .col-sm-9
          select.form-control
            option(value="") -- Choose a type of SR --
            optgroup(label="VDI SR")
              option(value="NFS") NFS
              option(value="ISCSI") Software iSCSI
              option(value="HBA") HBA
            optgroup(label="ISO SR")
              option(value="CIFSISO") CIFS
              option(value="NFSISO") NFS
      .form-group
        label.col-sm-3.control-label Name
        .col-sm-9
          input.form-control(type="text", placeholder="")
      .form-group
        label.col-sm-3.control-label Description
        .col-sm-9
          input.form-control(type="text", placeholder="SR Created by Xen Orchestra")
    p.text-center
      a.btn.btn-primary.big
        i.fa.fa-times
        | Clear
      a.btn.btn-success.big
        i.fa.fa-save
        | Save
  .grid-cell.flat-panel
    p.flat-panel-title
      i.fa.fa-link(style="color: #e25440;")
      | Connection
