.panel.panel-default
  p.page-title
    i.fa.fa-eye
    |  Job Scheduling Overview
.panel.panel-default
  .panel-heading.panel-title
      i.fa.fa-clock-o
      |  Schedules
  .panel-body
    //- The 2 tables below are here for a "full-width" effect of the content vs the menu (cf sheduler/view.jade)
    table.table(ng-if = '!ctrl.schedules')
      tr
        td.text-center: i.xo-icon-loading
    table.table(ng-if = 'ctrl.schedules && !ctrl.collectionLength(ctrl.schedules)')
      tr
        td.text-center No scheduled jobs
    table.table.table-hover(ng-if = 'ctrl.schedules && ctrl.collectionLength(ctrl.schedules)')
      tr
        th Name
        th Job
        th.hidden-xs Scheduling
        th State
      tr(ng-repeat = 'schedule in ctrl.schedules | orderBy:"id":true track by schedule.id')
        td: a(ui-sref = 'taskscheduler.schedule({id: schedule.id})') {{ schedule.name || schedule.id }}
        td
          a(ui-sref = 'taskscheduler.job({id: schedule.job})') {{ ctrl.displayScheduleJobName(schedule) || schedule.job }}
        td.hidden-xs {{ ctrl.prettyCron(schedule.cron) }}
        td
          span.label.label-success.hidden-xs(ng-if = 'ctrl.scheduleTable[schedule.id] === true') enabled
          span.label.label-default.hidden-xs(ng-if = 'ctrl.scheduleTable[schedule.id] === false') disabled
          span.label.label-warning.hidden-xs(ng-if = 'ctrl.scheduleTable[schedule.id] === undefined') unknown
          fieldset.pull-right(ng-disabled = 'ctrl.working[schedule.id]')
            button.btn(ng-if = 'ctrl.scheduleTable[schedule.id] === false', type = 'button', ng-click = 'ctrl.enable(schedule.id)'): i.fa.fa-toggle-off
            button.btn.btn-success(ng-if = 'ctrl.scheduleTable[schedule.id] === true', type = 'button', ng-click = 'ctrl.disable(schedule.id)'): i.fa.fa-toggle-on
            | &nbsp;
            button.btn.btn-warning(type = 'button', ng-click = 'ctrl.run(schedule)', ng-disabled = 'ctrl.running[schedule.id]'): i.fa.fa-play
.grid-sm
  .panel.panel-default
    .panel-heading.panel-title
      i.fa.fa-file-text
      |  Logs
      span.quick-edit(ng-if = 'ctrl.logs | isNotEmpty', tooltip = 'Remove all logs', xo-click = 'ctrl.clearLogs()')
        i.fa.fa-trash-o.fa-fw
    .panel-body
      table.table.table-hover(ng-if = 'ctrl.logs')
        thead
          tr
            th Job ID
            th Start
            th End
            th Duration
            th Status
        tbody(ng-repeat = 'log in ctrl.logs | map | filter:ctrl.logSearch | orderBy:"-time" | slice:(ctrl.logPageSize * (ctrl.currentLogPage - 1)):(ctrl.logPageSize * ctrl.currentLogPage) track by log.logKey')
          tr
            td
              button.btn.btn-sm(type = 'button', tooltip = 'See calls', ng-click = 'seeCalls = !seeCalls', ng-class = '{"btn-default": !log.hasErrors, "btn-danger": log.hasErrors}'): i.fa(ng-class = '{"fa-caret-down": !seeCalls, "fa-caret-up": seeCalls}')
              | &nbsp;{{ log.jobId }}
            td {{ log.start | date:'medium' }}
            td {{ log.end | date:'medium' }}
            td {{ log.duration | duration}}
            td
              span(ng-if = 'log.status === "Finished"')
                span.label(ng-class = '{"label-success": (!log.error && !log.hasErrors), "label-danger": (log.error || log.hasErrors)}') {{ log.status }}
              span.label(ng-if = 'log.status !== "Finished"', ng-class = '{"label-warning": log.status === "In progress", "label-default": !log.status}') {{ log.status || "unknown" }}
              p.text-danger(ng-if = 'log.error') &nbsp;{{ log.error }}
          tr.bg-info(collapse = '!seeCalls')
            td(colspan = '5')
              ul.list-group
                li.list-group-item(ng-repeat = 'call in log.calls | map | orderBy:"-time" track by call.callKey')
                  strong.text-info {{ call.method }}:&#32;
                  span(ng-repeat = '(key, param) in call.params')
                    | {{ key }}:
                    strong &nbsp;{{ param }}&#32;
                  span(ng-if = 'call.returnedValue')
                    | &#32;
                    i.text-primary.fa.fa-arrow-right
                    | &#32;{{ call.returnedValue }}
                  span.text-danger(ng-if = 'call.error')
                    | &#32;
                    i.fa.fa-times
                    | &#32;{{ call.error }}
      .form-inline
        .input-group
          .input-group-addon: i.fa.fa-search
          input.form-control(type = 'text', ng-model = 'ctrl.logSearch', placeholder = 'Search logs...')
      .center(ng-if = '(ctrl.logs | map | filter:ctrl.logSearch | count) > ctrl.logPageSize || currentLogPage > 1')
        pagination.pagination-sm(boundary-links = 'true', total-items = 'ctrl.logs | map | filter:ctrl.logSearch | count', ng-model = 'ctrl.currentLogPage', items-per-page = 'ctrl.logPageSize', max-size = '10', previous-text = '<', next-text = '>', first-text = '<<', last-text = '>>')
