.menu-grid
  .side-menu
    ul.nav
      li
        a(ui-sref = '.dashboard', ui-sref-active = 'active')
          i.fa.fa-fw.xo-icon-cpu.fa-menu
          span.menu-entry Dashboard
      li
        a(ui-sref = '.admin')
          i.fa.fa-fw.fa-wrench.fa-menu
          span.menu-entry Administration
  .side-content(ui-view = '')
