/* Brand color */
.navbar-brand {color: #bf0000;}

input.form-control.inverse {background-color: #666; color: #f8f8f8; border: 0px;}

/* Search bar */
.popover { width: 200px; }
/* search button in main bar */
/* WARNING: hack because of strange Chrome behavior! Remove static height ASAP */
.btn-search {background-color: #3a87ad; color: #f8f8f8; height: 34px;}
.btn-search:hover {background-color: #1d4457; color: #f8f8f8;}

html {
  background-color: #edece4;
  /* Possibility to get a wallpaper for the background: see later in admin maybe, for the lulz */
  /*background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

body {
  background-color: transparent;
}

.navbar-under { background-color: #f8f8f8;}


td.vcenter {
  vertical-align: middle;
}
input[type="checkbox"]{
  padding-top: 0px;
  line-height: normal;
}

input.inverse {margin: 0;}
/* progress bar */
.progress-small {

  height: 0.6em;
  width: 4em;
  display: inline-block;
  float: center;
  margin: 3px;
}

.progress-bar-black {
  color: black;
}
// FIXME: What is it?
//.i-progress { float: center;  margin-right: 0em;}

.grey {color: #666; font-size: 0.9em;}

/* drodown head link for pools/hosts */
.dropdown-pool { border-bottom: 1px solid #edece4; text-align: center;}
.dropdown-pool a {
  text-decoration: none;
  color: #333;
}
.pool-name {font-size: 1.8em;}
.host-name {font-size: 20px;}
.big-caret {font-size: 1.4em;}

/* for dropdown menu not centered */
.dropdown-menu {background-color: white;}
.left {text-align: left;}

/* VM TABLE */
/* grab zone on VM table, for drag and drop */
td.grab {padding: 0 !important; margin: 0 !important; width: 6px !important; cursor: move;}

tr:hover .grab {background: url("../images/grip.png") no-repeat scroll 1px 50% transparent !important}

 table { table-layout: fixed; }
 table th, table td { overflow: hidden; }

td.vm-power-state {width: 20px; text-align: center;}

td.select-vm {width: 1.5em; height: 20px;}

td.vm-memory-stat {text-align: right;}



/* the main bar */
.navbar-inverse
{
  background-color: #242628;
  border-color: #2e3133;
  //font-variant:small-caps;
}
.fa {font-variant: normal;}
/* the big subbar */
 .sub-bar
 {
  height:50px;
  top:50px;
  position: fixed;
  background:#242628;
  border-bottom:1px solid #2e3133;
  width:100%;
  margin:0px auto;
  z-index: 1020;
}



/* Black theme: inversed colors for drop down menus */
a.dropdown-toggle.inverse:hover {background-color:#2e3133 !important;}
a.dropdown-toggle.inverse:active {background-color:#2e3133 !important;}
a.dropdown-toggle.inverse:focus {background-color:#2e3133 !important;}
ul.inverse {background:#2e3133;}
ul.inverse a {color:#f8f8f8;}
ul.inverse a:hover {background-color:#242628; color: #f8f8f8 ;}
ul.inverse li.divider {background-color:#222;}


/* Inversed (black) buttons */
button.btn.navbar-btn.btn-default.inversed {background-color:#444; border-color: #222; color: #999999;}
a.btn.navbar-btn.btn-default.dropdown-toggle.inversed {background-color:#444; border-color: #222; color: #999999; margin-left: 0.5em;}

 /* change caret color for inversed button */
.grey-caret {border-top-color: #999999 !important; border-bottom-color: #999999 !important;}

/* stats bar */
.overview { padding: 1em; color: #a6a6a6 ; max-width: 346px;}
.overview i {font-weight: normal;}
.small {font-size: 10pt; font-style: normal;}
.task-overview {
  @extend .overview;
  text-align: right;
}
.task-menu {
  color: white;
}

/* stats pool and host */
.stats {text-align: center; margin-top: 1em; margin-bottom: 0.4em; padding-bottom: 0.4em; }
.stats a {text-decoration: none; color: #a6a6a6; margin-right: 0.6em;}
.stats a:hover {text-decoration: none; color: #333;}
.sr-name {font-size: 10pt;}
/* "actionbar" which is select and buttons when one or more VM selected */
.before-action-bar { margin-left: 1em;}
.action-bar {display: inline;}

/* SR table (in host and pool) */
.no-border {border-top: 0px !important;}
/* ip display */

.cpu {display: inline;}
.cpu a {text-decoration: none; color: #a6a6a6; margin-left: 0.9em;}
.cpu a:hover {text-decoration: none; color: #333;}

/* tooltip hack to avoid be hidden by other elements */
/*
.tooltip {
  position: fixed;
}
*/

/* useful global class */
.center {text-align: center;}
.right {text-align: right;}
.small-caps {font-variant:small-caps;}
.big {font-size: 2em;}

/* stats name in a grid cell */
.stat-name {text-align: center; font-variant: small-caps; margin-bottom: -0.3em;}

.grid-button {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background-color: #efefef;
}

.grid-button:hover {
  background-color: #e25440;
}

.page-header {
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 9px;
  text-align: center;
}

.form-control-login {
  border: 1px solid #D6D6D6;
  border-radius: 0;
  box-shadow: none;
  height: 50px;
  padding: 6px 15px;
}


legend.login {
  border: medium none;
  color: #111;
  display: block;
  font-size: 20px;
  line-height: inherit;
  margin-bottom: 15px;
  padding: 0;
  text-align: center;
  width: 100%;
}

.btn-login {
  padding: 10px;
  border-radius: 0;
  border: none;
  font-size: 21px;
}

.status {
  margin-top: 2em;
}
