.modal-header
  h3
    i.fa.fa-exclamation-triangle.text-danger
    |  {{title}}
.modal-body
  | {{message}}
.modal-footer
  button.btn.btn-primary(type="button", ng-click="$close()")
    | {{yesButtonLabel}}
  button.btn.btn-warning(ng-if="noButtonLabel", type="button", ng-click="$dismiss()")
    | {{noButtonLabel}}
