.modal-header
  h3
    i.fa.fa-exclamation-triangle.text-danger
    |  {{$ctrl.title}}
.modal-body(ng-if = "$ctrl.htmlMessage", ng-bind-html = "$ctrl.htmlMessage")
.modal-body(ng-if = "!$ctrl.htmlMessage") {{$ctrl.message}}
.modal-footer
  button.btn.btn-primary(type="button", ng-click="$close()")
    | {{$ctrl.yesButtonLabel}}
  button.btn.btn-warning(ng-if="$ctrl.noButtonLabel", type="button", ng-click="$dismiss()")
    | {{$ctrl.noButtonLabel}}
