{
  "comments": false,
  "compact": true,
  "optional": [
    // This options are experimental for now and may (will) break the
    // code.
    // "minification.deadCodeElimination",
    // "minification.inlineExpressions",

    "es7.asyncFunctions",
    "es7.decorators",
    "es7.functionBind",
    "runtime"
  ]
}
