{
  "comments": false,
  "compact": true,
  "optional": [
    "es7.asyncFunctions",
    "es7.decorators",
    "es7.functionBind",

    // TODO: re-enable when Babel > 5.5.1
    // "minification.deadCodeElimination",

    "minification.inlineExpressions",
    "runtime"
  ]
}
