/_book/
/coverage/
/node_modules/
/lerna-debug.log
/lerna-debug.log.*

/@xen-orchestra/*/dist/
/@xen-orchestra/*/node_modules/
/packages/*/dist/
/packages/*/node_modules/

/@xen-orchestra/proxy/src/main/mixins/index.js
/@xen-orchestra/proxy/.xo-proxy.*
/@xen-orchestra/proxy/proxy.db

/packages/vhd-cli/src/commands/index.js

/packages/xen-api/examples/node_modules/
/packages/xen-api/plot.dat

/packages/xo-server/.xo-server.*
/packages/xo-server/src/api/index.js
/packages/xo-server/src/xapi/mixins/index.js
/packages/xo-server/src/xo-mixins/index.js

/packages/xo-server-auth-ldap/ldap.cache.conf

/packages/xo-web/src/common/intl/locales/index.js
/packages/xo-web/src/common/themes/index.js

npm-debug.log
npm-debug.log.*
pnpm-debug.log
pnpm-debug.log.*
yarn-error.log
yarn-error.log.*
.env
