# systemd service for XO-Server.

[Unit]
Description= XO Server
After=network-online.target

[Service]
Environment="DEBUG=xo:main"
ExecStart=/usr/local/bin/xo-server
Restart=always
SyslogIdentifier=xo-server

[Install]
WantedBy=multi-user.target
