.modal-header
  button.close(
    type = 'button',
    ng-click = '$dismiss()'
    )
    span(aria-hidden = 'true') &times;
  h4.modal-title Confirm group suppression
.modal-body
  p Are you sure you want to delete this group ? It's user list and associated ACLs will be lost after that.
  button.btn.btn-default(type = 'button', ng-click = '$close()') Ok
  | &ensp;
  button.btn.btn-default(type = 'button', ng-click = '$dismiss()') Cancel
