.grid-sm
  .panel.panel-default
    p.page-title
      i.xo-icon-group(style="color: #e25440;")
      |  Groups
.grid-sm
  .panel.panel-default
    form(ng-submit="ctrl.saveGroups()", autocomplete="off").panel-body
      table.table.table-hover
        tr
          th.col-md-5 Name
          th.col-md-5 Information
          th.col-md-2
        tr(ng-repeat="group in ctrl.groups | orderBy:natural('id') track by group.id")
          td
            input.form-control(type="text", ng-model="group.name", ui-event = '{focus: "ctrl.editingGroup(true)", blur: "ctrl.editingGroup(false)"}', ng-change = 'ctrl.modified = true')
          td
            span(ng-if = '!group.users.length'): em (empty)
            span(ng-if = 'group.users.length')
              strong {{ group.users.length }} members:&nbsp;
              span(ng-repeat = 'user in group.users | limitTo:4')
                | {{ ctrl.userEmails[user] }}{{ $last ? (group.users.length > 4 ? ',...' : '') : ', ' }}
            | &nbsp;
          td
            a.btn.btn-primary(ui-sref = 'settings.group({groupId: group.id})')
              | Edit&nbsp;
              i.fa.fa-pencil
            | &nbsp;
            button.btn.btn-danger(type = 'button', ng-click = 'ctrl.deleteGroup(group.id)')
              i.fa.fa-trash
        tr(ng-repeat="group in ctrl.newGroups")
          td
            input.form-control(type = "text", ng-model = "group.name", placeholder = "New group name", ng-change = 'ctrl.modified = true')
          td
            button.btn.btn-btn-default(type = 'button', ng-click = 'ctrl.newGroups.splice($index, 1)')
              i.fa.fa-times
          td &#160;
      p
        button.btn.btn-success(type="button", ng-click="ctrl.addGroup()")
          i.fa.fa-plus
        | &nbsp;
        span(ng-if = 'ctrl.modified')
          button.btn.btn-primary(type="submit")
            i.fa.fa-save
            |  Save
          | &nbsp;
          button.btn.btn-default(type="button", ng-click = "ctrl.cancelModifications()")
            i.fa.fa-times
            |  Cancel
