.grid-sm
  .panel.panel-default
    p.page-title
      i.fa.fa-upload(style="color: #e25440;")
      |  Backup Restore
.grid-sm
  .panel.panel-default
    .panel-body
      .text-center(ng-if = '!ctrl.size(ctrl.backUpRemotes)') No remotes
      .panel.panel-default(ng-repeat = 'remote in ctrl.backUpRemotes | orderBy:["name"] track by remote.id')
        .panel-body(ng-if = '!remote.enabled || remote.error', ng-class = '{"bg-danger": remote.error, "bg-muted": !remote.error}')
          a(ui-sref = 'backup.remote') {{ remote.name }}
          span(ng-if = 'remote.error') &nbsp;(on error)
          span(ng-if = '!remote.error') &nbsp;(disabled)
        .panel-body(ng-if = 'remote.enabled')
          .row
            .col-sm-3
              p
                | {{ remote.name }}&nbsp;
                button.btn.btn-default.pull-right(type = 'button', ng-click = 'ctrl.list(remote.id)'): i.fa(ng-class = '{"fa-eye": !ctrl.loaded[remote.id], "fa-refresh": ctrl.loaded[remote.id]}')
                br
                br
            .col-sm-9
              div(ng-if = 'ctrl.loaded[remote.id] && !ctrl.size(remote.files)') No backups available
              div(ng-if = 'ctrl.size(remote.files)')
                div(ng-repeat = 'file in remote.files')
                  | {{ file }}
                  span.pull-right.dropdown(dropdown)
                    button.btn.btn-default(type = 'button', dropdown-toggle)
                      | Import&nbsp;
                      span.caret
                    ul.dropdown-menu(role="menu")
                      li(ng-repeat = 'h in ctrl.hosts.all | orderBy:natural("name_label") track by h.id')
                        a(xo-click = "ctrl.importVm(remote.id, file, h.id)")
                          i.xo-icon-host.fa-fw
                          | To {{h.name_label}}
                  hr
