.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.header {
  padding: 0.6em;
  padding-bottom: 0;
  flex-shrink: 0;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 1em;
}
