/* This file is meant to provide PostCSS utilities that will be globally available */
/* https://github.com/csstools/postcss-plugins/tree/main/plugins/postcss-global-data */

@custom-media --mobile (max-width: 1023px);
@custom-media --desktop (min-width: 1024px);
