.context-color-success {
  color: var(--color-success-txt-base);
}

.context-color-error {
  color: var(--color-danger-txt-base);
}

.context-color-warning {
  color: var(--color-warning-txt-base);
}

.context-color-info {
  color: var(--color-normal-txt-base);
}

.context-background-color-success {
  background-color: var(--color-success-background-selected);
}

.context-background-color-error {
  background-color: var(--color-danger-background-selected);
}

.context-background-color-warning {
  background-color: var(--color-warning-background-selected);
}

.context-background-color-info {
  background-color: var(--color-normal-background-selected);
}

.context-border-color-success {
  border-color: var(--color-success-txt-base);
}

.context-border-color-error {
  border-color: var(--color-danger-txt-base);
}

.context-border-color-warning {
  border-color: var(--color-warning-txt-base);
}

.context-border-color-info {
  border-color: var(--color-normal-txt-base);
}

.color-context-info {
  --color-context-primary: var(--color-normal-txt-base);
  --color-context-primary-hover: var(--color-normal-txt-hover);
  --color-context-primary-active: var(--color-normal-txt-active);
  --color-context-primary-disabled: var(--color-neutral-txt-secondary);

  --color-context-secondary: var(--color-normal-background-selected);
  --color-context-secondary-hover: var(--color-normal-background-selected);
  --color-context-secondary-active: var(--color-normal-background-active);

  --color-context-tertiary: var(--color-neutral-background-primary);
}

.color-context-success {
  --color-context-primary: var(--color-success-txt-base);
  --color-context-primary-hover: var(--color-success-txt-hover);
  --color-context-primary-active: var(--color-success-txt-active);
  --color-context-primary-disabled: var(--color-success-item-disabled);

  --color-context-secondary: var(--color-success-background-selected);
  --color-context-secondary-hover: var(--color-success-background-selected);
  --color-context-secondary-active: var(--color-success-background-active);

  --color-context-tertiary: var(--color-neutral-background-primary);
}

.color-context-warning {
  --color-context-primary: var(--color-warning-txt-base);
  --color-context-primary-hover: var(--color-warning-txt-hover);
  --color-context-primary-active: var(--color-warning-txt-active);
  --color-context-primary-disabled: var(--color-warning-item-disabled);

  --color-context-secondary: var(--color-warning-background-selected);
  --color-context-secondary-hover: var(--color-warning-background-selected);
  --color-context-secondary-active: var(--color-warning-background-active);

  --color-context-tertiary: var(--color-neutral-background-primary);
}

.color-context-error {
  --color-context-primary: var(--color-danger-txt-base);
  --color-context-primary-hover: var(--color-danger-txt-hover);
  --color-context-primary-active: var(--color-danger-txt-active);
  --color-context-primary-disabled: var(--color-danger-item-disabled);

  --color-context-secondary: var(--color-danger-background-selected);
  --color-context-secondary-hover: var(--color-danger-background-selected);
  --color-context-secondary-active: var(--color-danger-background-active);

  --color-context-tertiary: var(--color-neutral-background-primary);
}
