@import '_colors.pcss';
@import '_reset.pcss';
@import '_fonts.pcss';
@import '_context.pcss';
@import '_shadows.pcss';
@import '_typography.pcss';

:root {
  color: var(--color-grey-100);
  background-color: var(--color-background-primary);

  &.dark {
    color-scheme: dark;
  }
}
