.itemRowHeader {
  margin-bottom: 0.8em;
}

.itemContainer {
  border: 1px solid #eee;
  border-radius: .3em;
}

.itemContainerHeader {
  padding: 0.5em;
  background: #efefef;
  border-bottom: 1px solid #eee;
  margin: 0px;
}

.item {
  /*border-radius: .3em;*/
  /*background: #f4f4f4;*/
  padding: 0.5em;
  border-bottom: 1px solid #eee;
}

.itemExpanded {
  padding-top: 0.4em;
  color: #999;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemExpandButton {
  cursor: pointer;
}

.itemPowerRow {
  max-width: 3.5em;
  padding-right: 0;
}

.itemNameRow {
  padding-left: 0.1em;
  font-weight: 550;
}
