.grid
  .panel.panel-default
    p.page-title
      i.fa.fa-refresh(style="color: #e25440;")
      |  Update
.grid
  .panel.panel-default
    .panel-heading.panel-title
      i.fa.fa-globe(style="color: #e25440;")
      |  Status
    .panel-body
      p(ng-if = '!ctrl.updater.state') No update information available
      .form-group(ng-if = 'ctrl.updater.state && ctrl.updater.state === "registerNeeded"')
        p registerNeeded
      .form-group(ng-if = 'ctrl.updater.state && ctrl.updater.state !== "registerNeeded"')
        button.btn.btn-info(type = 'button', ng-click = 'ctrl.updater.verify()') Check for updates
        | &nbsp;
        button.btn.primary(type = 'button', ng-click = 'ctrl.updater.update()', ng-class = '{disabled: ctrl.updater.state !== "updateNeeded"}') Update
      div
        p(ng-repeat = 'entry in ctrl.updater._log')
          strong(ng-class = '{"text-danger": entry.level === "error", "text-muted": entry.level === "info", "text-warning": entry.level === "warning", "text-success": entry.level === "success"}') {{ entry.date }}
          | &nbsp;:&nbsp;
          span(ng-bind-html = 'entry.message | ansitohtml')

  .panel.panel-default
    .panel-heading.panel-title
      i.fa.fa-star(style="color: #e25440;")
      |  Registration
    .panel-body.text-center
        p Registration needed.
        p Or Regitration status (OK etc.)
