.panel.panel-default
  p.page-title
    i.xo-icon-user(style="color: #e25440;")
    |  Users
.panel.panel-default
  .panel-body
    form(ng-submit="ctrl.saveUsers()", autocomplete="off")
      table.table.table-hover
        tr
          th.col-md-4 Email
          th.col-md-4 Permissions
          th.col-md-3 Password
          th.col-md-1.text-center
            i.fa.fa-trash-o.fa-lg(tooltip="Remove user")
        tr(ng-repeat="user in ctrl.users | orderBy:natural('id') track by user.id")
          td
            input.form-control(type="text", ng-model="user.email", ui-event = '{focus: "ctrl.editingUser(true)", blur: "ctrl.editingUser(false)"}')
          td
            select.form-control(ng-options="p.value as p.label for p in ctrl.permissions", ng-model="user.permission", ui-event = '{focus: "ctrl.editingUser(true)", blur: "ctrl.editingUser(false)"}')
          td
            input.form-control(type="password", ng-model="user.password", placeholder="Fill to change the password", ui-event = '{focus: "ctrl.editingUser(true)", blur: "ctrl.editingUser(false)"}')
          td.text-center
            input(type="checkbox", ng-model="ctrl.selectedUsers[user.id]", ui-event = '{focus: "ctrl.editingUser(true)", blur: "ctrl.editingUser(false)"}')
        tr(ng-repeat="user in ctrl.newUsers")
          td
            input.form-control(
              type = "text"
              ng-model = "user.email"
              placeholder = "email"
              ui-event = '{focus: "ctrl.editingUser(true)", blur: "ctrl.editingUser(false)"}'
            )
          td
            select.form-control(
              ng-options = "p.value as p.label for p in ctrl.permissions"
              ng-model = "user.permission"
              ng-required = "user.email"
              ui-event = '{focus: "ctrl.editingUser(true)", blur: "ctrl.editingUser(false)"}'
            )
          td
            input.form-control(
              type = "password"
              ng-model = "user.password"
              ng-required = "user.email"
              placeholder = "password"
              ui-event = '{focus: "ctrl.editingUser(true)", blur: "ctrl.editingUser(false)"}'
            )
          td &#160;
      p.text-center
        button.btn.btn-primary(type="submit")
          i.fa.fa-save
          |  Save
        | &nbsp;
        button.btn.btn-success(type="button", ng-click="ctrl.addUser()")
          i.fa.fa-plus
