.grid
  .panel.panel-default
    p.page-title
      i.fa.fa-user(style="color: #e25440;")
      |  Users
.grid
  .panel.panel-default
    //- .panel-heading.panel-title
    //-   i.fa.fa-users(style="color: #e25440;")
    //-   |  Users
    form(ng-submit="ctrl.saveUsers()", autocomplete="off").panel-body
      table.table.table-hover
        tr
          th.col-md-4 Email
          th.col-md-4 Permissions
          th.col-md-3 Password
          th.col-md-1.text-center
            i.fa.fa-trash-o.fa-lg(tooltip="Remove user")
        tr(ng-repeat="user in ctrl.users | orderBy:natural('email') track by user.id")
          td
            input.form-control(type="text", ng-model="user.email", ui-event = '{focus: "ctrl.editingUser(true)", blur: "ctrl.editingUser(false)"}')
          td
            select.form-control(ng-options="p.value as p.label for p in ctrl.permissions", ng-model="user.permission", ui-event = '{focus: "ctrl.editingUser(true)", blur: "ctrl.editingUser(false)"}')
          td
            input.form-control(type="password", ng-model="user.password", placeholder="Fill to change the password", ui-event = '{focus: "ctrl.editingUser(true)", blur: "ctrl.editingUser(false)"}')
          td.text-center
            input(type="checkbox", ng-model="ctrl.selectedUsers[user.id]")
        tr(ng-repeat="user in ctrl.newUsers")
          td
            input.form-control(
              type = "text"
              ng-model = "user.email"
              placeholder = "email"
            )
          td
            select.form-control(
              ng-options = "p.value as p.label for p in ctrl.permissions"
              ng-model = "user.permission"
              ng-required = "user.email"
            )
          td
            input.form-control(
              type = "password"
              ng-model = "user.password"
              ng-required = "user.email"
              placeholder = "password"
            )
          td &#160;
      p.text-center
        button.btn.btn-primary(type="submit")
          i.fa.fa-save
          |  Save
        | &nbsp;
        button.btn.btn-success(type="button", ng-click="ctrl.addUser()")
          i.fa.fa-plus

.grid
  .panel.panel-default
    p.page-title
      i.fa.fa-users(style="color: #e25440;")
      |  Groups
.grid
  .panel.panel-default
    //- .panel-heading.panel-title
    //-   i.fa.fa-users(style="color: #e25440;")
    //-   |  Users
    form(ng-submit="ctrl.saveGroups()", autocomplete="off").panel-body
      table.table.table-hover
        tr
          th.col-md-5 Name
          th.col-md-5 Manage
          th.col-md-2.text-center
            i.fa.fa-trash-o.fa-lg(tooltip="Remove group")
        tr(ng-repeat="group in ctrl.groups | orderBy:natural('name') track by group.id")
          td
            input.form-control(type="text", ng-model="group.name", ui-event = '{focus: "ctrl.editingGroup(true)", blur: "ctrl.editingGroup(false)"}')
          td
            button.btn.btn-info(type = 'button', ng-click = 'ctrl.uiCollapse[group.id] = !ctrl.uiCollapse[group.id]')
              | Users&nbsp;
              i.fa(ng-class = '{"fa-chevron-down": !ctrl.uiCollapse[$index], "fa-chevron-up": ctrl.uiCollapse[$index]}')
            br
            br
            div(collapse = '!ctrl.uiCollapse[group.id]')
              ul.list-group(ng-if = '!group.users.length')
                li.list-group-item.disabled: em (empty)
              ul.list-group(ng-if = 'group.users.length')
                li.list-group-item(ng-repeat = 'user in group.users')
                  span(ng-if = '!removeUser') {{ ctrl.userEmails[user] }}&nbsp;
                  del(ng-if = 'removeUser') {{ ctrl.userEmails[user] }}&nbsp;
                  span.pull-right
                    label
                      input.hidden(type = 'checkbox', ng-model = 'removeUser', ng-change = 'ctrl.flagUserRemoval($parent.group, $index, removeUser)')
                      | &nbsp;
                      i.fa.fa-trash-o(tooltip="Remove user from group")
              p.form-inline
                select.form-control(ng-model = 'ctrl.addedUsers[$index]', ng-options = 'addedUser.email for addedUser in ctrl.users | notInGroup:group | orderBy:natural("email") track by addedUser.id')
                | &nbsp;
                button.btn.btn-success.btn-sm(type="button", ng-click="ctrl.addUserToGroup(group, $index)")
                  i.fa.fa-plus
              button.btn.btn-info(type="button", ng-click = 'ctrl.saveGroup(group)')
                i.fa.fa-save
                |  Save
          td.text-center
            input(type="checkbox", ng-model="ctrl.selectedGroups[group.id]")
        tr(ng-repeat="group in ctrl.newGroups")
          td
            input.form-control(
              type = "text"
              ng-model = "group.name"
              placeholder = "name"
            )
          td &#160;
          td &#160;
      p.text-center
        button.btn.btn-primary(type="submit")
          i.fa.fa-save
          |  Save
        | &nbsp;
        button.btn.btn-success(type="button", ng-click="ctrl.addGroup()")
          i.fa.fa-plus
