@value dropzoneColor: #8f8686;

.dropzone {
    border-radius: 4px;
    border: 2px dashed dropzoneColor;
    cursor: pointer;
    display: flex;
    height: 12em;
    margin-bottom: 20px;
    width: 100%;
}

.activeDropzone {
    background: #f0f0f0;
    border-style: solid;
}

.dropzoneText {
    color: dropzoneColor;
    font-size: 1.2em;
    margin: auto;
}
