.container .button {
  position: absolute;
  margin-left: 1ex;
  visibility: hidden;
}

.container:hover .button {
  visibility: visible;
}

:global(.modal-body) .container .button {
  position: relative;
  margin-left: -4ex;
  left: 3.5em;
}
