.grid(style = 'height: 100%')
  //- Side menu
  .settings-menu
    ul.nav
      li
        a(ui-sref = '.management', ui-sref-active = 'active')
          i.fa.fa-fw.fa-clock-o.fa-menu
          span.menu-entry Scheduler
        a(ui-sref = '.rollingsnapshot')
          i.fa.fa-fw.fa-camera-retro.fa-menu
          span.menu-entry Rolling snapshots
        a(ui-sref = '.backup')
          i.fa.fa-fw.fa-download.fa-menu
          span.menu-entry Backup
  //- Content
  div.settings-content(ui-view = '')
