//- HTML 5 Doctype
doctype html

//- The “no-js” class will be automatically removed if JavaScript is
//- available.
html.no-js(lang="en", dir="ltr")
  head
    meta(charset="utf-8")
    //- This file is a part of Xen Orchestra Web.
    //-
    //- Xen Orchestra Web is free software: you can redistribute it and/or
    //- modify it under the terms of the GNU Affero General Public License
    //- as published by the Free Software Foundation, either version 3 of
    //- the License, or (at your option) any later version.
    //-
    //- Xen Orchestra Web is distributed in the hope that it will be
    //- useful, but WITHOUT ANY WARRANTY; without even the implied warranty
    //- of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    //- Affero General Public License for more details.
    //-
    //- You should have received a copy of the GNU Affero General Public License
    //- along with Xen Orchestra Web. If not, see
    //- <http://www.gnu.org/licenses/>.
    //-
    //- @author Olivier Lambert <olivier.lambert@vates.fr>
    //- @license http://www.gnu.org/licenses/agpl-3.0-standalone.html GNU AGPLv3
    //-
    //- @package Xen Orchestra Web

    //- Makes sure IE is using the last engine available.
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    //- Replaces the “no-js” class by the “js” class if JavaScript is
    //- available.
    script.
      !function(d){d.className=d.className.replace(/\\bno-js\b/,'js')}(document.documentElement)

    //- (To confirm.) For smartphones and tablets: sets the page
    //- width to the device width and prevents the page from being
    //- zoomed in when going to landscape mode.
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Xen Orchestra
    meta(name="description", content="Web interface for XenServer/XAPI Hosts")
    meta(name="author", content="Vates SAS")

    //- Place favicon.ico and apple-touch-icon.png in the root directory
    link(rel="stylesheet", href="styles/main.css")
  body(
    ng-app = 'xoWebApp'
  )

    toaster-container

    //- Navigation bar.
    navbar

    //- Main content (managed by the router).
    .view-main(ui-view = "")

    script(src="app.js")
