.grid
  .panel.panel-default
    p.page-title
      i.fa.fa-heartbeat(style="color: #e25440;")
      |  Health
.grid
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-dashboard(style="color: #e25440;")
        |  CPUs load
      .panel-body.text-center
        p Charts with Load of all hosts CPUs
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.xo-icon-memory(style="color: #e25440;")
        |  Memory load
      .panel-body.text-center
        p Charts with RAM used for all hosts RAM?
.grid
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-sitemap(style="color: #e25440;")
        |  Networks
      .panel-body.text-center
        p Charts with Load of all hosts networks
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-hdd-o(style="color: #e25440;")
        |  Disk IO
      .panel-body.text-center
        p Charts with IO for all SR?
