.grid-sm
  .panel.panel-default
    p.page-title
      i.fa.fa-heartbeat
      |  Health
.grid-sm
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-dashboard
        |  CPUs load
      .panel-body.text-center
        p Charts with Load of all hosts CPUs
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.xo-icon-memory
        |  Memory load
      .panel-body.text-center
        p Charts with RAM used for all hosts RAM?
.grid-sm
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-sitemap
        |  Networks
      .panel-body.text-center
        p Charts with Load of all hosts networks
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-hdd-o
        |  Disk IO
      .panel-body.text-center
        p Charts with IO for all SR?
