.grid-sm
  .panel.panel-default
    p.page-title
      i.fa.fa-heartbeat
      |  Health
.grid-sm
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-camera
        |  Orphaned snapshots
      .panel-body
        | TODO: list all orphaned VDIs and VMs snapshots
.grid-sm
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-database
        |  SR Warnings
      .panel-body
        | TODO: list all SR with phy usage > 80%
