.grid-sm
  .panel.panel-default
    p.page-title
      i.xo-icon-plugin(style="color: #e25440;")
      |  Plugins
.grid-sm
  .panel.panel-default
    .panel-body
      p.text-center(ng-if = '!ctrl.plugins || !ctrl.plugins.length') No plugins found
      div(ng-repeat = 'plugin in ctrl.plugins | orderBy:"name" track by plugin.id')
        h3.form-inline.clearfix
          span.text-info {{ plugin.name }}&nbsp;
          .checkbox.small
            label
              i.fa.fa-2x(ng-class = '{"fa-toggle-on": plugin.loaded, "fa-toggle-off": !plugin.loaded, "text-success": plugin.loaded}')
              span(ng-if = 'plugin.loaded && plugin.unloadable === false')
                | &nbsp;
                i.fa.fa-2x.fa-lock(tooltip = 'This plugin cannot be unloaded without a server restart')
              input.hidden(type = 'checkbox', ng-model = 'plugin._loaded', ng-change = 'ctrl.toggleLoad(plugin)', ng-disabled = 'plugin.unloadable === false && plugin.loaded || ctrl.disabled[plugin.id]')
            | &nbsp;
          .checkbox.small
            label
              | Auto-load at server start&nbsp;
              input(type = 'checkbox', ng-model = 'plugin._autoload', ng-change = 'ctrl.toggleAutoload(plugin)', ng-disabled = 'ctrl.disabled[plugin.id]')
          .form-group.pull-right.small
              button.btn.btn-default(type = 'button', ng-click = 'isExpanded = !isExpanded'): i.fa(ng-class = '{"fa-plus": !isExpanded, "fa-minus": isExpanded}')
        hr
        div(collapse = '!isExpanded')
          p(ng-if = '!plugin.configurationSchema') This plugin has no specific configuration
          form.form-horizontal(ng-if = 'plugin.configurationSchema', ng-submit = 'ctrl.configure(plugin)')
            fieldset(ng-disabled = 'ctrl.disabled[plugin.id]')
              .form-group(ng-repeat = '(key, prop) in plugin.configurationSchema.properties')
                label.col-md-2.control-label
                  | {{prop.title || key}}
                  span.text-warning(ng-if = 'ctrl.isRequired(key, plugin.configurationSchema)') *
                .col-md-5
                  input.form-control(ng-if = 'prop.type === "string" && !ctrl.isPassword(key)', type = 'text', ng-model = 'plugin.configuration[key]', ng-required = 'ctrl.isRequired(key, plugin.configurationSchema)', placeholder = '{{ plugin.configurationSchema.properties[key].default }}')
                  input.form-control(ng-if = 'prop.type === "string" && ctrl.isPassword(key)', type = 'password', ng-model = 'plugin.configuration[key]', ng-required = 'ctrl.isRequired(key, plugin.configurationSchema)')
                  multi-string-input(ng-if = 'prop.type === "array" && prop.items.type === "string"', model = 'plugin.configuration[key]')
                  .checkbox(ng-if = 'prop.type === "boolean"'): label: input(type = 'checkbox', ng-model = 'plugin.configuration[key]')
                  object-input(ng-if = 'prop.type === "object"', model = 'plugin.configuration[key]', schema = 'prop', required = 'ctrl.isRequired(key, plugin.configurationSchema)')
                .col-md-5
                  span.help-block(ng-bind-html = 'prop.description | md2html')
              .form-group
                .col-md-offset-2.col-md-10
                  button.btn.btn-primary(type = 'submit') 
                    | Save configuration&nbsp;
                    i.fa.fa-floppy-o
