.grid-sm
  .panel.panel-default
    p.page-title
      i.xo-icon-plugin(style="color: #e25440;")
      |  Plugins
.grid-sm
  .panel.panel-default
    .panel-body
      p.text-center(ng-if = '!ctrl.plugins || !ctrl.plugins.length') No plugins found
      div(ng-repeat = 'plugin in ctrl.plugins | orderBy:"name" track by plugin.id')
        h3.form-inline.clearfix
          .checkbox.small
            label
              i.fa.fa-2x(ng-class = '{"fa-toggle-on": plugin.loaded, "fa-toggle-off": !plugin.loaded, "text-success": plugin.loaded}')
              span(ng-if = 'plugin.loaded && plugin.unloadable === false')
                | &nbsp;
                i.fa.fa-2x.fa-lock(tooltip = 'This plugin cannot be unloaded without a server restart')
              input.hidden(type = 'checkbox', ng-model = 'plugin._loaded', ng-change = 'ctrl.toggleLoad(plugin)', ng-disabled = 'plugin.unloadable === false && plugin.loaded || ctrl.disabled[plugin.id]')
            | &nbsp;&nbsp;
          span.text-info {{ plugin.name }} 
          span(style="font-size:0.7em") (v{{ plugin.version }}) 
          .checkbox.small
            label
              | Auto-load at server start&nbsp;
              input(type = 'checkbox', ng-model = 'plugin._autoload', ng-change = 'ctrl.toggleAutoload(plugin)', ng-disabled = 'ctrl.disabled[plugin.id]')
          .form-group.pull-right.small
              button.btn.btn-default(type = 'button', ng-click = 'isExpanded = !isExpanded'): i.fa(ng-class = '{"fa-plus": !isExpanded, "fa-minus": isExpanded}')
        hr
        div(collapse = '!isExpanded')
          p(ng-if = '!plugin.configurationSchema') This plugin has no specific configuration
          form.form-horizontal(form = 'pluginform' ng-if = 'plugin.configurationSchema', ng-submit = 'ctrl.configure(plugin)')
            fieldset(ng-disabled = 'ctrl.disabled[plugin.id]')
            object-input(
              form = '"pluginform"',
              property = 'plugin.configurationSchema',
              model = 'plugin.configuration',
              group = ''
            )
            .form-group
              .col-md-offset-2.col-md-10.text-danger(ng-repeat = "err in plugin.errors")
                | {{ err }}
            .form-group
              .col-md-offset-2.col-md-10
                .btn-toolbar
                  .btn-group
                    button.btn.btn-primary(type = 'submit')
                      | Save configuration&nbsp;
                      i.fa.fa-floppy-o
                  .btn-group
                    button.btn.btn-danger(type = 'button' ng-click = 'ctrl.purgeConfiguration(plugin)')
                      | Purge configuration&nbsp;
                      i.fa.fa-trash-o
