.grid-sm
  .panel.panel-default
    p.page-title
      i.xo-icon-group(style="color: #e25440;")
      |  {{ ctrl.group.name }}&nbsp;
      a.btn.btn-default(ui-sref = 'settings.groups')
        i.fa.fa-level-up
.grid-sm
  .panel.panel-default
    .panel-heading.panel-title
      i.fa.fa-street-view
      |  Members&nbsp;
      span(ng-if = 'ctrl.isModified()') (*)
    .panel-body
      ul.list-group(ng-if = '!ctrl.group.users.length')
        li.list-group-item.disabled: em (empty)
      ul.list-group(ng-if = 'ctrl.group.users.length')
        li.list-group-item(ng-repeat = 'user in ctrl.group.users')
          span(ng-if = '!ctrl.removals[user]') {{ ctrl.userEmails[user] }}&nbsp;
          del(ng-if = 'ctrl.removals[user]') {{ ctrl.userEmails[user] }}&nbsp;
          span.pull-right
            label
              input.hidden(type = 'checkbox', ng-model = 'ctrl.removals[user]')
              | &nbsp;
              i.fa.fa-trash-o(tooltip="Remove user from group", style = 'cursor: pointer')
      p
        ui-select(ng-if = '(ctrl.users | notInGroup:ctrl.group).length', ng-model = 'ctrl.addedUser', on-select = 'ctrl.addUserToGroup(ctrl.group, ctrl.addedUser)')
            ui-select-match(
              placeholder = 'Choose a user to add'
            ) {{$select.selected.email}}
            ui-select-choices(
              repeat = 'addedUser in ctrl.users | notInGroup:ctrl.group | filter:$select.search'
            ) {{addedUser.email}}
        em.text-muted(ng-if = '!(ctrl.users | notInGroup:ctrl.group).length') No available users to add
      button.btn.btn-primary(ng-if = 'ctrl.isModified()', type="button", ng-click = 'ctrl.saveGroup(ctrl.group)')
        i.fa.fa-save
        |  Save
      | &nbsp;
      button.btn.btn-default(ng-if = 'ctrl.isModified()', type="button", ng-click = 'ctrl.cancelEdition()')
        i.fa.fa-times
        |  Cancel
.grid-sm
  .panel.panel-default
    .panel-heading.panel-title
      i.fa.fa-key
      |  ACLs&nbsp;
    .panel-body
      table.table.table-hover
        tr
          th Object
          th Role
          th
        tr(ng-repeat = 'acl in ctrl.acls | filter:ctrl.matchesGroup track by acl.id')
          td {{(acl.object | resolve).name_label}}
          td {{ ctrl.rolesById[acl.action].name }}
          td
            button.btn.btn-danger(ng-click = 'ctrl.removeAcl(acl.object, acl.action)')
              i.fa.fa-trash
  .panel.panel-default
    .panel-heading.panel-title
      i.fa.fa-eye
      |  Accessible objects&nbsp;
    .panel-body
      p(ng-repeat = 'object in ctrl.objects | selectHighLevel | canAccess:ctrl.group:ctrl.acls | orderBy:["type", "name_label"]')
        i(class = 'xo-icon-{{object.type | lowercase}}')
        |  {{object.name_label}}
        span(ng-if="(object.type === 'SR' || object.type === 'VM') && object.$container")
          |  ({{(object.$container | resolve).name_label}})

