.grid
  .panel.panel-default
    p.page-title
      i.fa.fa-key(style="color: #e25440;")
      |  ACLs
.grid
  .panel.panel-default
    .panel-heading.panel-title
      i.fa.fa-plus-circle(style="color: #e25440;")
      |  Create
    .panel-body.text-center
      form(
        ng-submit = 'ctrl.addAcl()'
      )
        .form-group
          ui-select(
            ng-model = 'ctrl.subject'
          )
            ui-select-match(
              placeholder = 'Choose a user or group'
            )
              div
                span(ng-if = '$select.selected.email')
                  i.fa.fa-fw.fa-user
                  |  {{$select.selected.email}}
                span(ng-if = '$select.selected.name')
                  i.fa.fa-fw.fa-users
                  |  {{$select.selected.name}}
            ui-select-choices(
              repeat = 'entity in ctrl.entities | filter:{ permission: "!admin" } | filter:$select.search'
            )
              div
                span(ng-if = 'entity.email')
                  i.fa.fa-fw.fa-user
                  |  {{entity.email}}
                span(ng-if = 'entity.name')
                  i.fa.fa-fw.fa-users
                  |  {{entity.name}}
        .form-group
          ui-select(
            ng-model = 'ctrl.object'
          )
            ui-select-match(
              placeholder = 'Choose an object'
            )
              div
                i(class = 'xo-icon-{{$select.selected.type | lowercase}}')
                |  {{$select.selected.name_label}}
            ui-select-choices(
              repeat = 'object in ctrl.objects | selectHighLevel | filter:$select.search | orderBy:["type", "name_label"]'
            )
              div
                i(class = 'xo-icon-{{object.type | lowercase}}')
                |  {{object.name_label}}
                span(ng-if="(object.type === 'SR' || object.type === 'VM') && object.$container")
                  |  ({{(object.$container | resolve).name_label}})
        button.btn.btn-success
          i.fa.fa-plus
            |  Create

  .panel.panel-default
    .panel-heading.panel-title
      i.fa.fa-street-view(style="color: #e25440;")
      |  Manage
    .panel-body
      table.table.table-hover
        tr
          th User
          th Object
          th Action
        tr(ng-repeat = 'acl in ctrl.acls')
          td {{ctrl.usersById[acl.subject].email}}
          td {{(acl.object | resolve).name_label}}
          td
            button.btn.btn-sm.btn-danger(ng-click = 'ctrl.removeAcl(acl.subject, acl.object)')
              i.fa.fa-trash
