.grid(style = 'height: 100%')
  //- Side menu
  .settings-menu
    ul.nav
      li
        a(ui-sref = '.servers', ui-sref-active = 'active')
          i.fa.fa-fw.fa-cloud.fa-menu
          span.menu-entry Servers
        a(ui-sref = '.users')
          i.fa.fa-fw.fa-user.fa-menu
          span.menu-entry Users
        //- a.disabled(ui-sref = '.groups')
        //-   i.fa.fa-fw.fa-users.fa-menu
        //-   |  Groups
        a(ui-sref = '.acls')
          i.fa.fa-fw.fa-key.fa-menu
          span.menu-entry ACLs
        a(ui-sref = '.update')
          i.fa.fa-fw.fa-refresh.fa-menu
          span.menu-entry Update

  //- Content
  div.settings-content(ui-view = '')
