.menu-grid
  .side-menu
    ul.nav
      li
        a(ui-sref = '.servers', ui-sref-active = 'active')
          i.fa.fa-fw.fa-cloud.fa-menu
          span.menu-entry Servers
      li
        a(ui-sref = '.users')
          i.xo-icon-user.fa-fw.fa-menu
          span.menu-entry Users
      li
        a(ui-sref = '.groups')
          i.xo-icon-group.fa-fw.fa-menu
          span.menu-entry Groups
      li
        a(ui-sref = '.acls')
          i.fa.fa-fw.fa-key.fa-menu
          span.menu-entry ACLs
      li
        a(ui-sref = '.plugins')
          i.xo-icon-plugin.fa-fw.fa-menu
          span.menu-entry Plugins
      li
        a(ui-sref = '.update')
          i.fa.fa-fw.fa-refresh.fa-menu
          span.menu-entry Update
  .side-content(ui-view = '')
