.grid
  //- Side menu
  .settings-menu
    ul.nav
      li
        a(ui-sref = '.servers', ui-sref-active = 'active')
          i.fa.fa-fw.fa-cloud &nbsp;
          |  Servers
        a(ui-sref = '.users')
          i.fa.fa-fw.fa-users &nbsp;
          |  Users
        a(ui-sref = '.acls')
          i.fa.fa-fw.fa-key &nbsp;
          |  ACLs

  //- Content
  div.settings-content(ui-view = '')
