<?php
/**
 * This file is a part of Xen Orchestra Server.
 *
 * Xen Orchestra Server is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Xen Orchestra Server is distributed in the hope that it will be
 * useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Xen Orchestra Server. If not, see
 * <http://www.gnu.org/licenses/>.
 *
 * @author Julien Fontanet <julien.fontanet@vates.fr>
 * @license http://www.gnu.org/licenses/gpl-3.0-standalone.html GPLv3
 *
 * @package Xen Orchestra Server
 *
 * Local Variables:
 * mode: php
 * End:
 */

/* Local settings
 *
 * This file contains all settings related to this current
 * installation of Xen Orchestra Server.
 *
 * You MUST define the following settings for which no default
 * values exists.
 *
 * But, you MAY override any settings which already exists in
 * “global.php”.
 */
return array(

	// For now, XCP servers/pool masters must be defined in this file.
	'xcp' => array(
		//'pool 1' => array(
		//	'url'      => 'https://xcp1.example.net',
		//	'username' => 'username',
		//	'password' => 'password'
		//),
	),
);


