# Note: Relative paths will be resolved from XO-Server's directory.

# Configuration of the embedded HTTP server.
http:

  # Hosts & ports on which to listen.
  listen:
    # Basic HTTP.
    -
      # Address on which the server is listening on.
      #
      # Sets it to '127.0.0.1' to listen only on the local host.
      #
      # Default: '0.0.0.0' (all addresses)
      #host: '127.0.0.1'

      # Port on which the server is listening on.
      #
      # Default: undefined
      port: 80

      # Instead of `host` and `port` a path to a UNIX socket may be
      # specified (overrides `host` and `port`).
      #
      # Default: undefined
      #socket: './http.sock'

    # Basic HTTPS.
    # -
    #   # The only difference is the presence of the certificate and the
    #   # key.

    #   #host: '127.0.0.1'
    #   port: 443

    #   # File containing the certificate (PEM format).
    #   #
    #   # Default: undefined
    #   certificate: './certificate.pem'

    #   # File containing the private key (PEM format).
    #   #
    #   # If the key is encrypted, the passphrase will be asked at
    #   # server startup.
    #   #
    #   # Default: undefined
    #   key: './key.pem'

  # List of files/directories which will be served.
  mounts:
    '/': './public/http/'

# Connection to the Redis server.
redis:
    # Syntax: tcp://[db[:password]@]hostname[:port]
    #
    # Default: tcp://localhost:6379
    #uri: ''
