# Configuration of XO-Server's HTTP server.
http:
    # Is HTTP enabled?
    #
    # Default: true
    #enabled: false

    # Address on which the server is listening on.
    #
    # Sets it to '127.0.0.1' to listen only on the local host.
    #
    # Default: 0.0.0.0 (all addresses)
    #host: '127.0.0.1'

    # Port on which the server is listening on.
    #
    # Default: 80
    #port: 8080

# Configuration of XO-Server's HTTPS server.
#
# A certificate is required, see http://www.selfsignedcertificate.com/
# or https://devcenter.heroku.com/articles/ssl-certificate-self to
# easily create a (unsecure) self-signed certificate.
https:
    # Is HTTPS enabled?
    #
    # Default: false
    #enabled: true

    # Address on which the server is listening on.
    #
    # Sets it to '127.0.0.1' to listen only on the local host.
    #
    # Default: 0.0.0.0 (all addresses)
    #host: '127.0.0.1'

    # Port on which the server is listening on.
    #
    # Default: 443
    #port: 8081

    # File containing the certificate (PEM format).
    #
    # Default: './certificate.pem'
    #certificate: '/path/to/the/certificate.pem'

    # File containing the private key (PEM format).
    #
    # If the key is encrypted, the passphrase will be asked at server
    # startup.
    #
    # Default: './key.pem'
    #key: '/path/to/the/key.pem'

# Configuration of the Redis server.
redis:
    # Syntax: tcp://[db[:password]@]hostname[:port]
    #
    # Default: tcp://localhost:6379
    #uri: ''
