.inlineSelect {
  display: inline-block;
  width: 20rem;
  font-size: 1rem;
}

.button {
  font-size: 1.8em;
}

.lineItem {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.item {
  white-space: nowrap;
  margin: 0.5em;
}

.sizeInput {
  width: 10em;
}

.sectionContent {
  align-items: baseline;
  display: flex;
  flex: 1 1 40em;
  flex-wrap: wrap;
  font-size: 1em;
}

.sectionContentColumn {
  flex-direction: column;
}

.summary {
  align-items: baseline;
  display: flex;
  flex: 1 1 20em;
  flex-wrap: wrap;
  font-size: 2em;
  justify-content: space-around;
}

.submitSection {
  display: flex;
  justify-content: space-around;
}
