.container: .panel.panel-default

  //- Title
  p.page-title
    span.fa-stack
      i.fa.fa-square-o.fa-stack-2x
      i.xo-icon-console.fa-stack-1x(class = 'xo-color-{{VM.power_state | lowercase}}')
      | &nbsp;
    a(
      ng-if = 'VM.type === "VM"'
      class = 'xo-color-{{VM.power_state | lowercase}}'
      ui-sref = 'VMs_view({id: VM.id})'
    ) {{VM.name_label}}
    a(
      ng-if = 'VM.type === "VM-controller"'
      class = 'xo-color-{{VM.power_state | lowercase}}'
      ui-sref = 'hosts_view({id: VM.$container})'
    ) {{VM.name_label}}

  .list-group

    //- Toolbar
    .list-group-item: .row.text-center
      .col-sm-4: iso-device(ng-if = 'VM && SRs', vm = 'VM', srs = 'SRs')
      .col-sm-2: button.btn.btn-default(
        ng-click = 'vncRemote.sendCtrlAltDel()'
      )
        i.fa.fa-keyboard-o
        | &nbsp;
        | Ctrl+Alt+Del
      .col-sm-4
        .input-group
          input#vm-clipboard.form-control(ng-model='vmClipboard' ng-change='vncRemote.pasteToClipboard(vmClipboard)')
          span.input-group-btn
            button.btn.btn-default.copy(data-clipboard-target='#vm-clipboard' tooltip="Copy text into local clipboard")
              i.fa.fa-clipboard
              |  Copy
      //- Action panel
      .col-sm-2
        .btn-group(ng-if = 'VM.type === "VM"')
          button.btn.btn-default.inversed(
            ng-if = "VM.power_state == ('Running' || 'Paused')"
            tooltip = "Stop VM"
            type = "button"
            xo-click = "stopVM(VM.id)"
          )
            i.fa.fa-stop.fa-fw
          button.btn.btn-default.inversed(
            ng-if = "VM.power_state == ('Halted')"
            tooltip = "Start VM"
            type = "button"
            xo-click = "startVM(VM.id)"
          )
            i.fa.fa-play.fa-fw
          button.btn.btn-default.inversed(
            ng-if = "VM.power_state == ('Running' || 'Paused')"
            tooltip = "Reboot VM"
            type = "button"
            xo-click = "rebootVM(VM.id)"
          )
            i.fa.fa-refresh.fa-fw
        .btn-group(ng-if = 'VM.type === "VM-controller"')
          button.btn.btn-default.inversed(
            ng-if = "VM.power_state == ('Running' || 'Paused')"
            tooltip = "Shutdown Host"
            type = "button"
            xo-click = "shutdownHost(VM.$container)"
          )
            i.fa.fa-stop.fa-fw
          button.btn.btn-default.inversed(
            ng-if = "VM.power_state == ('Halted')"
            tooltip = "Start Host"
            type = "button"
            xo-click = "startHost(VM.$container)"
          )
            i.fa.fa-play.fa-fw
          button.btn.btn-default.inversed(
            ng-if = "VM.power_state == ('Running' || 'Paused')"
            tooltip = "Reboot Host"
            type = "button"
            xo-click = "rebootHost(VM.$container)"
          )
            i.fa.fa-refresh.fa-fw
    //- Console
    .list-group-item
      no-vnc(
        url = '{{consoleUrl}}'
        remote-control = 'vncRemote',
        on-clipboard-change = 'setClipboard(clipboardContent)'
      )
