@import "reset.css";
@import "theme.css";
/* TODO Serve fonts locally */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,900&display=swap");

body {
  min-height: 100vh;
  font-size: 1.3rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-blue-scale-100);
}

a {
  color: var(--color-extra-blue-base);
}

code,
code * {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

.card-view {
  padding: 1.2rem;
  display: flex;
  gap: 2rem;
}

.link {
  text-decoration: underline;
  color: var(--color-extra-blue-base);
  cursor: pointer;
}

.link:hover {
  color: var(--color-extra-blue-d20);
}

.link:active,
.link.router-link-active {
  color: var(--color-extra-blue-d40);
}

.link.router-link-active {
  text-decoration: underline;
}

.context-color-success {
  color: var(--color-green-infra-base);
}

.context-color-error {
  color: var(--color-red-vates-base);
}

.context-color-warning {
  color: var(--color-orange-world-base);
}

.context-color-info {
  color: var(--color-extra-blue-base);
}

.context-background-color-success {
  background-color: var(--background-color-green-infra);
}

.context-background-color-error {
  background-color: var(--background-color-red-vates);
}

.context-background-color-warning {
  background-color: var(--background-color-orange-world);
}

.context-background-color-info {
  background-color: var(--background-color-extra-blue);
}

.context-border-color-success {
  border-color: var(--color-green-infra-base);
}

.context-border-color-error {
  border-color: var(--color-red-vates-base);
}

.context-border-color-warning {
  border-color: var(--color-orange-world-base);
}

.context-border-color-info {
  border-color: var(--color-extra-blue-base);
}
