.panel.panel-default
  p.page-title
    i.fa.fa-wrench(style="color: #e25440;")
    |  Self-service administration
.panel.panel-default
  .panel-heading.panel-title
      i.fa.fa-shopping-cart
      |  Resource sets
  .panel-body
    form.form-horizontal(ng-submit = 'ctrl.createSet()')
      .form-group
        .col-sm-4
          input.form-control(type = 'text', ng-model = 'setName', placeholder = 'resource set name', required)
        .col-sm-4
          ui-select(ng-model = 'ctrl.selectedSubjects', multiple, close-on-select = 'false', required)
            ui-select-match(placeholder = 'choose user(s) and/or group(s)')
              span(ng-if = '$item.email')
                i.xo-icon-user.fa-fw
                |  {{$item.email}}
              span(ng-if = '$item.name')
                i.xo-icon-group.fa-fw
                |  {{$item.name}}
            ui-select-choices(repeat = 'subject in ctrl.subjects | filter:{ permission: "!admin" } | filter:$select.search')
              div(ng-if = 'subject.email')
                i.xo-icon-user.fa-fw
                |  {{subject.email}}
              div(ng-if = 'subject.name')
                i.xo-icon-group.fa-fw
                |  {{subject.name}}
        .col-sm-4
          ui-select(ng-model = 'ctrl.selectedPools', multiple, close-on-select = 'false', required)
            ui-select-match(placeholder = 'choose pool(s)')
              i(class = 'xo-icon-{{$item.type | lowercase}}')
              |  {{$item.name_label}}
            ui-select-choices(repeat = 'pool in ctrl.pools | map | filter:$select.search | orderBy:["type", "name_label"]')
              div
                i(class = 'xo-icon-{{pool.type | lowercase}}')
                |  {{pool.name_label}}
      fieldset(ng-disabled = 'ctrl.selectedPools | isEmpty')
        .form-group
          .col-sm-4
            ui-select(ng-model = 'ctrl.selectedTemplates', multiple, close-on-select = 'false', required)
              ui-select-match(placeholder = 'choose VM templates')
                i(class = 'xo-icon-{{$item.type | lowercase}}')
                |  {{$item.name_label}}
              ui-select-choices(repeat = 'template in ctrl.vmTemplates | map | filter:$select.search | orderBy:["type", "name_label"]')
                div
                  i(class = 'xo-icon-{{template.type | lowercase}}')
                  |  {{template.name_label}}
          .col-sm-4
            ui-select(ng-model = 'ctrl.selectedSrs', multiple, close-on-select = 'false', required)
              ui-select-match(placeholder = 'choose storages')
                i(class = 'xo-icon-{{$item.type | lowercase}}')
                |  {{$item.name_label}}
                span(ng-if="$item.$container")
                  |  ({{($item.$container | resolve).name_label}})
              ui-select-choices(repeat = 'sr in ctrl.srs | map | filter:$select.search | orderBy:["type", "name_label"]')
                div
                  i(class = 'xo-icon-{{sr.type | lowercase}}')
                  |  {{sr.name_label}}
                  span(ng-if="sr.$container")
                    |  ({{(sr.$container | resolve).name_label}})
          .col-sm-4
            ui-select(ng-model = 'ctrl.selectedNetworks', multiple, close-on-select = 'false', required)
              ui-select-match(placeholder = 'choose networks')
                i(class = 'xo-icon-{{$item.type | lowercase}}')
                |  {{$item.name_label}}
                span(ng-if="$item.$poolId")
                  |  ({{($item.$poolId | resolve).name_label}})
              ui-select-choices(repeat = 'network in ctrl.networks | map | filter:$select.search | orderBy:["type", "name_label"]')
                div
                  i(class = 'xo-icon-{{network.type | lowercase}}')
                  |  {{network.name_label}}
                  span(ng-if="network.$poolId")
                    |  ({{(network.$poolId | resolve).name_label}})
        .form-group
          .col-sm-4
            input.form-control(type = 'number' min = '0' placeholder = 'Maximum CPUs' ng-model = 'cpuMax', required)
          .col-sm-4
            .input-group
              input.form-control(type = 'number' min = '0' placeholder = 'Maximum RAM' ng-model = 'memoryMax', required)
              .input-group-btn
                span.pull-right.dropdown(dropdown)
                  button.btn.btn-default.dropdown-toggle(type = 'button' dropdown-toggle)
                    | {{ ctrl.memoryUnit }}
                    span.caret
                  ul.dropdown-menu(role = 'menu')
                    li(ng-repeat = 'unit in ctrl.sizeUnits')
                      a(ng-click = 'ctrl.memoryUnit = unit') {{ unit }}
          .col-sm-4
            .input-group
              input.form-control(type = 'number' min = '0' placeholder = 'Max. disk Space' ng-model = 'diskMax', required)
              .input-group-btn
                span.pull-right.dropdown(dropdown)
                  button.btn.btn-default.dropdown-toggle(type = 'button' dropdown-toggle)
                    | {{ ctrl.diskUnit }}
                    span.caret
                  ul.dropdown-menu(role = 'menu')
                    li(ng-repeat = 'unit in ctrl.sizeUnits')
                      a(ng-click = 'ctrl.diskUnit = unit') {{ unit }}
      .row
        .col-sm-8
          h4 Available hosts
          p.text-muted VMs created from this resource set shall run on the following hosts
          ul.list-group
            li.list-group-item(ng-if = 'ctrl.eligibleHosts | isEmpty'): em.text-muted No hosts available
            li.list-group-item(ng-if = 'ctrl.eligibleHosts | isNotEmpty', ng-repeat = 'host in ctrl.eligibleHosts')
              | {{ host.name_label }}
              span(ng-if = '(host.$container | resolve)') ({{ (host.$container | resolve).name_label }})
        .col-sm-4
          h4 Excluded hosts
          ul.list-group
            li.list-group-item(ng-repeat = 'host in ctrl.excludedHosts')
              s
                | {{ host.name_label }}
                span(ng-if = '(host.$container | resolve)') ({{ (host.$container | resolve).name_label }})
      .form-group
        .col-sm-10
          button.btn.btn-lg.btn-primary(ng-disabled = '(ctrl.selectedSrs | isEmpty) || (ctrl.selectedNetworks | isEmpty) || (ctrl.selectedTemplates | isEmpty) || (ctrl.selectedSubjects | isEmpty)') Create
