.form-group
    label.control-label.col-md-2(for = 'reportWhen') Report
    .col-md-10
      select.form-control(ng-model = 'ctrl.formData.reportWhen')
        option(value = ''): em  --  When to send reports  --
        option(value = 'never') Never
        option(value = 'alway') Always
        option(value = 'fail') Failure

