  <!-- TODO: lots of stuff. -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="page-title"><img src="favicon.ico"> About Xen Orchestra</p>
  </div>
</div>
<div class="grid">
  <!-- Vates -->
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-lightbulb-o" style="color: #e25440;"></i> Vates</p>
    We are the team behind Xen Orchestra, we are Vates! We create Open Source products and we offer commercial support for Xen and Xen Orchestra. Want to know more about us? Go to our website!
    <br/><br/>
    <p class="text-center"><button type="submit" class="btn btn-success"><i class="fa fa-hand-o-right"></i> Our website</button></p>
  </div>

  <!-- Open Source -->
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-thumbs-up" style="color: #e25440;"></i> Open Source</p>
    This project is Open Source (AGPL), everyone is welcome aboard! You want a specific feature in XO? Report a bug? Go to our project website, read the FAQ and get involved in the project!
    <br/><br/>
    <p class="text-center"><button type="submit" class="btn btn-success"><i class="fa fa-flask"></i> Projet website</button></p>
  </div>
</div>
<div class="grid">
  <!-- Pro support -->
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-truck" style="color: #e25440;"></i> Pro Support Delivered</p>
    Our XO Appliance can be delivered with professional support: stay relaxed, we got your back!
    <br/><br/>
    <p class="text-center"><button type="submit" class="btn btn-success"><i class="fa fa-envelope"></i> Contact us</button></p>
  </div>

  <!-- Expertise -->
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-user" style="color: #e25440;"></i> Xen Expertise</p>
    Take advantage of our deep understanding of Xen: get assitance for deploying or upgrade your virtualized infrastructure.
    <br/><br/>
    <p class="text-center"><button type="submit" class="btn btn-success"><i class="fa fa-envelope"></i> Contact us</button></p>
  </div>
</div>
