  <!-- TODO: lots of stuff. -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="page-title"><img src="favicon.ico"> About Xen Orchestra</p>
  </div>
</div>
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-lightbulb-o" style="color: #e25440;"></i> Vates<a class="edit-button" href="#"><i class="fa fa-edit"></i></a></p>
    We are the team behind XO, we are Vates! We create Open Source products and we offer commercial support for Xen and Xen Orchestra.

    <p class="text-center"><button type="submit" class="btn btn-success"><i class="fa fa-hand-o-right"></i> Our website</button></p>
  </div>
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-thumbs-up" style="color: #e25440;"></i> Open Source</p>
    This project is Open Source (AGPL), everyone is welcome aboard! You want a specific feature in XO? Report a bug? Go to our project website, read the FAQ and get involved in the project!

    <p class="text-center"><button type="submit" class="btn btn-success"><i class="fa fa-flask"></i> Projet website</button></p>
  </div>
</div>
