  <!-- TODO: lots of stuff. -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="page-title"><i class="xo-icon-console xo-color-{{vm.power_state | lowercase}}"></i> VM1 console</p>
  </div>
</div>

<!-- ISO selector and CtrlAltSuppr button -->
<div class="grid">
  <!-- force style for getting an non-visible background -->
  <div class="grid-cell flat-panel" style="background-color: #edece4;">
    <select class="form-control input-lg">
        <option>Select an iso file</option>
      <optgroup label="NFS ISO SR">
        <option>debian-7.iso</option>
        <option>windows2008-R2.iso</option>
        <option>centos6.iso</option>
      </optgroup>
      <optgroup label="Local ISO SR">
        <option>debian-testing.iso</option>
        <option>ubuntu-13.10.iso</option>
      </optgroup>
    </select>
  </div>
  <div class="grid-cell text-center grid-button" tooltip="Eject CD">
    <i class="fa fa-eject fa-2x fa-fw"></i>
  </div>
  <div class="grid-cell text-center grid-button" tooltip="Send Ctrl+Alt+Suppr">
    <i class="fa fa-keyboard-o fa-2x fa-fw"></i>
  </div>
</div>
<!-- NoVNC panel -->
<div class="grid">
  <div class="grid-cell flat-panel" style="background-color: black; min-height: 40em;">
    <br/>
  </div>
</div>
