<!-- TODO: lots of stuff. -->

<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="page-title">
      <i class="xo-icon-host xo-color-{{host.power_state | lowercase}}"></i>
      {{host.name_label}}
      <small ng-if="pool.name_label">
        (<a ui-sref="pools_view({uuid: pool.UUID})">{{pool.name_label}}</a>)
      </small>
    </p>
  </div>
</div>
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-cogs" style="color: #e25440;"></i> General</p>
    <div class="general-properties">
      <dl class="dl-horizontal">
        <dt>Name</dt>
          <dd><a editable-text="host.name_label">{{host.name_label}}</a></dd>
        <dt>Description</dt>
          <dd><a editable-text="host.name_description">{{host.name_description}}</a></dd>
        <dt>Enabled</dt>
          <dd><a editable-checkbox="host.enabled">{{host.enabled}}</a></dd>
        <dt>Tags</dt>
          <dd ng-if="host.tags.length">
            <span ng-repeat="tag in host.tags">
              <span class="label label-primary">{{tag}}</span>
            </span>
          </dd>
          <dd ng-if="!host.tags.length">
            <em>No tags.</em>
          </dd>
        <dt>CPUs</dt>
          <dd>{{host.CPUs["cpu_count"]}}x {{host.CPUs["modelname"]}}</dd>
        <dt>Hostname</dt>
          <dd><a editable-text="host.hostname">{{host.hostname}}</a></dd>
        <dt>UUID</dt>
          <dd>{{host.UUID}}</dd>
        <dt>iQN</dt>
          <dd>{{host.iSCSI_name}}</dd>
      </dl>
    </div>
  </div>
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-bar-chart-o" style="color: #e25440;"></i> Stats</p>
    <div class="grid">
      <div class="grid-cell">
        <p class="stat-name">vCPUs/CPU usage:</p>
        <p class="center big">{{host.$vCPUs}}/{{host.CPUs["cpu_count"]}}</p>
      </div>
      <div class="grid-cell">
        <p class="stat-name">RAM used:</p>
        <p class="center big">{{[host.memory.usage, host.memory.size] | %}}</p>
      </div>
      <div class="grid-cell">
        <p class="stat-name">Running VMs:</p>
        <p class="center big">{{host.VMs.length}}</p>
      </div>
    </div>
  </div>
</div>

<!-- Action panel -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-flash" style="color: #e25440;"></i> Actions</p>
    <div class="grid">
      <div class="grid-cell text-center grid-button" tooltip="Add SR">
        <i class="xo-icon-sr fa-2x fa-fw"></i>
      </div>
      <div class="grid-cell text-center grid-button" tooltip="Add VM">
        <i class="xo-icon-vm fa-2x fa-fw"></i>
      </div>
      <div class="grid-cell text-center grid-button" tooltip="Reboot Host">
        <i class="fa fa-refresh fa-2x fa-fw"></i>
      </div>
      <div class="grid-cell text-center grid-button" tooltip="Shutdown Host">
        <i class="fa fa-power-off fa-2x fa-fw"></i>
      </div>
      <div class="grid-cell text-center grid-button" tooltip="Restart Toolstack">
        <i class="fa fa-retweet fa-2x fa-fw"></i>
      </div>
      <div class="grid-cell text-center grid-button" tooltip="Remove from Pool">
        <i class="fa fa-cloud-upload fa-2x fa-fw"></i>
      </div>
      <div class="grid-cell text-center grid-button" tooltip="Host Console">
        <i class="xo-icon-console fa-2x fa-fw"></i>
      </div>
    </div>
  </div>
</div>

<!-- TODO: Memory panel -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title">
      <i class="xo-icon-memory" style="color: #e25440;"></i> Memory
    </p>
    <div class="progress">
      <div
        ng-repeat="controller in [host.controller] | resolve"
        class="progress-bar-host"
        role="progressbar"
        aria-valuemin="0"
        aria-valuenow="{{controller.memory.size}}"
        aria-valuemax="{{host.memory.size}}"
        style="width: {{[controller.memory.size, host.memory.size] | %}}"
        tooltip="{{host.name_label}}: {{[controller.memory.size, host.memory.size] | %}}"
      >
        <small>{{host.name_label}}</small>
      </div>
      <div
        ng-repeat="VM in host.VMs | resolve | orderBy:'name_label'"
        class="progress-bar progress-bar-vm"
        role="progressbar"
        aria-valuemin="0"
        aria-valuenow="{{VM.memory.size}}"
        aria-valuemax="{{host.memory.size}}"
        style="width: {{[VM.memory.size, host.memory.size] | %}}"
        xo-sref="VMs_view({uuid: VM.UUID})"
        tooltip="{{VM.name_label}}: {{[VM.memory.size, host.memory.size] | %}}"
      >
        <small>{{VM.name_label}}</small>
      </div>
    </div>
    <ul class="list-inline text-center">
      <li>Total: {{host.memory.size | bytes}}</li>
      <li>Currently used: {{host.memory.usage | bytes}}</li>
      <li>Available: {{host.memory.size-host.memory.usage | bytes}}</li>
    </ul>
  </div>
</div>

<!-- SR panel -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="xo-icon-sr" style="color: #e25440;"></i> Storage
    <table class="table table-hover">
      <tr>
        <th class="col-md-2">Name</th>
        <th class="col-md-1">Format</th>
        <th class="col-md-1">Size</th>
        <th class="col-md-6">Physical/Allocated usage</th>
        <th class="col-md-1">Type</th>
        <th class="col-md-1">Status</th>
      </tr>
      <!-- TODO: display PBD status for each SR of this host (connected or not) -->
      <!-- Shared SR -->
      <tr xo-sref="SRs_view({uuid: SR.UUID})" ng-repeat="SR in pool.SRs | resolve | orderBy:'name_label'">
        <td>{{SR.name_label}}</td>
        <td>{{SR.SR_type}}</td>
        <td>{{SR.size | bytes}}</td>
        <td>
          <div class="progress-condensed">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuemin="0"
              aria-valuenow="{{SR.usage}}"
              aria-valuemax="{{SR.size}}"
              style="width: {{[SR.physical_usage, SR.size] | %}}"
              tooltip="Physical usage: {{[SR.physical_usage, SR.size] | %}}"
            ></div>
            <div
              class="progress-bar progress-bar-info"
              role="progressbar"
              aria-valuemin="0"
              aria-valuenow="{{SR.physical_usage}}"
              aria-valuemax="{{SR.size}}"
              style="width: {{[(SR.usage-SR.physical_usage), SR.size] | %}}"
              tooltip="Allocated: {{[(SR.usage), SR.size] | %}}"
            ></div>
          </div>
        </td>
        <td><span class="label label-success">Shared</span></td>
        <td>
          TODO
          <!--  if PBD connected, display disconnect button
                if PBD disconnected, display connect button and remove button -->
          <a class="quick-remove" xo-click="disconnectPBD()">
            <i class="fa fa-ban fa-fw"></i>
          </a>
        </td>
      </tr>
      <!-- Local SR -->
      <!-- TODO: migrate to SRs and not PBDs when implemented in xo-server spec -->
      <tr
        xo-sref="SRs_view({uuid: SR.UUID})"
        ng-repeat="SR in host.SRs | resolve | orderBy:'name_label'"
      >
        <td>{{SR.name_label}}</td>
        <td>{{SR.SR_type}}</td>
        <td>{{SR.size | bytes}}</td>
        <td>
          <div class="progress-condensed">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuemin="0"
              aria-valuenow="{{SR.usage}}"
              aria-valuemax="{{SR.size}}"
              style="width: {{[SR.physical_usage, SR.size] | %}}"
              tooltip="Physical usage: {{[SR.physical_usage, SR.size] | %}}"
            ></div>
            <div
              class="progress-bar progress-bar-info"
              role="progressbar"
              aria-valuemin="0"
              aria-valuenow="{{SR.physical_usage}}"
              aria-valuemax="{{SR.size}}"
              style="width: {{[(SR.usage-SR.physical_usage), SR.size] | %}}"
              tooltip="Allocated: {{[(SR.usage), SR.size] | %}}"
            ></div>
          </div>
        </td>
        <td><span class="label label-info">Local</span></td>
        <td>
          TODO
          <!--  if PBD connected, display disconnect button
                if PBD disconnected, display connect button and remove button -->
          <a class="quick-remove" xo-click="disconnectPBD()">
            <i class="fa fa-ban fa-fw"></i>
          </a>
        </td>
      </tr>
    </table>
    <p class="center">
      <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add Storage</button>
  </div>
</div>

<!-- Network panel -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="xo-icon-network" style="color: #e25440;"></i> Network</p>
    <table class="table table-hover">
      <th class="col-md-1">Device</th>
      <th class="col-md-1">Address</th>
      <th class="col-md-2">MAC</th>
      <th class="col-md-1">MTU</th>
      <th class="col-md-1">Link status</th>
      <tr ng-repeat="PIF in host.$PIFs | resolve  | orderBy:'name_label'">
        <td>{{PIF.device}} <span ng-if="PIF.management" class="label label-info">Management</span></td>
        <td>{{PIF.ip}} ({{PIF.mode}})</td>
        <td>{{PIF.mac}}</td>
        <td>{{PIF.mtu}}</td>
        <td ng-if="PIF.attached"><span class="label label-success">Connected</span></td>
        <td ng-if="!PIF.attached"><span class="label label-default">Disabled</span></td>
      </tr>
    </table>
    <p class="center">
      <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add Interface</button>
  </div>
</div>

<!-- CPU and Logs panels -->
<div class="grid">
  <!-- Task panel -->
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-tasks" style="color: #e25440;"></i> Pending tasks</p>
    <p class="center" ng-if="!host.$messages.length">No recent tasks</p>
    <table class="table table-hover" ng-if="host.$tasks.length">
      <th class="col-md-4">Date</th>
      <th class="col-md-8">Name</th>
      <!-- TODO: working reverse order, from recent to oldest -->
      <tr ng-repeat="task in host.$tasks | resolve | orderBy:'created':true">
        <td>{{task.created}}</td>
        <td>
          {{task.name_label}}
          <a class="quick-remove" xo-click="removeTask(task.UUID)">
            <i class="fa fa-trash-o fa-fw"></i>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <!-- Logs panel -->
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-comments" style="color: #e25440;"></i> Logs</p>
    <p class="center" ng-if="!host.$messages.length">No recent logs</p>
    <table class="table table-hover" ng-if="host.$messages.length">
      <th class="col-md-4">Date</th>
      <th class="col-md-8">Name</th>
      <!-- TODO: working reverse order, from recent to oldest -->
      <tr ng-repeat="message in host.$messages | resolve | orderBy:'created':true">
        <td>{{message.time}}</td>
        <td>{{message.name}}
          <a class="quick-remove" xo-click="removeMessage(message.UUID)">
            <i class="fa fa-trash-o fa-fw"></i>
          </a>
        </td>
      </tr>
    </table>
  </div>

</div>
