  <!-- TODO: lots of stuff. -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="page-title"><i class="xo-icon-host xo-color-{{host.power_state | lowercase}}"></i> {{host.name_label}}</p>
  </div>
</div>
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-cogs" style="color: #e25440;"></i> General</p>
    <div class="general-properties">
      <dl class="dl-horizontal">
        <dt>Name</dt>
          <dd><a editable-text="host.name_label">{{host.name_label}}</a></dd>
        <dt>Description</dt>
          <dd><a editable-text="host.name_description">{{host.name_description}}</a></dd>
        <dt>Enabled</dt>
          <dd><a editable-checkbox="host.enabled">{{host.enabled}}</a></dd>
        <dt>Tags</dt>
          <dd ng-if="host.tags.length">
            <span ng-repeat="tag in host.tags">
              <span class="label label-primary">{{tag}}</span>
            </span>
          </dd>
          <dd ng-if="!host.tags.length">
            <em>No tags.</em>
          </dd>
        <dt>CPUs</dt>
          <dd>{{host.CPUs.length}}</dd>
        <dt>Hostname</dt>
          <dd><a editable-text="host.hostname">{{host.hostname}}</a></dd>
        <dt>UUID</dt>
          <dd>{{host.UUID}}</dd>
        <dt>iQN</dt>
          <dd>{{host.iSCSI_name}}</dd>
      </dl>
    </div>
  </div>
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-bar-chart-o" style="color: #e25440;"></i> Stats</p>
    <div class="grid">
      <div class="grid-cell">
        <p class="stat-name">vCPUs/CPU usage:</p>
        <p class="center big">{{host.$vCPUs.length}}/{{host.CPUs.length}}</p>
      </div>
      <div class="grid-cell">
        <p class="stat-name">RAM used:</p>
        <p class="center big">{{100*host.memory.usage/host.memory.size}}%</p>
      </div>
      <div class="grid-cell">
        <p class="stat-name">Running VMs:</p>
        <p class="center big">{{host.$running_VMs.length}}</p>
      </div>
    </div>
  </div>
</div>

<!-- Action panel -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-flash" style="color: #e25440;"></i> Actions</p>
    <div class="grid">
      <div class="grid-cell text-center grid-button" tooltip="Add SR">
        <i class="xo-icon-sr fa-2x fa-fw"></i>
      </div>
      <div class="grid-cell text-center grid-button" tooltip="Add VM">
        <i class="xo-icon-vm fa-2x fa-fw"></i>
      </div>
      <div class="grid-cell text-center grid-button" tooltip="Reboot Host">
        <i class="fa fa-refresh fa-2x fa-fw"></i>
      </div>
      <div class="grid-cell text-center grid-button" tooltip="Shutdown Host">
        <i class="fa fa-power-off fa-2x fa-fw"></i>
      </div>
      <div class="grid-cell text-center grid-button" tooltip="Restart Toolstack">
        <i class="fa fa-retweet fa-2x fa-fw"></i>
      </div>
      <div class="grid-cell text-center grid-button" tooltip="Remove from Pool">
        <i class="fa fa-cloud-upload fa-2x fa-fw"></i>
      </div>
      <div class="grid-cell text-center grid-button" tooltip="Host Console">
        <i class="xo-icon-console fa-2x fa-fw"></i>
      </div>
    </div>
  </div>
</div>

<!-- TODO: Memory panel -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="xo-icon-memory" style="color: #e25440;"></i> Memory</p>
    <div class="progress">
      <div
        ng-init="controller = (host.controller | fromUUID)"
        class="progress-bar-host"
        role="progressbar"
        aria-valuenow="40"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: {{100*controller.memory.size/host.memory.size}}%;"
        tooltip="Allocated: {{100*controller.memory.size/host.memory.size}}%">
      {{host.name_label}}
      </div>
      <div
        ng-repeat="VM in host.VMs | fromUUID | orderBy:'name_label'"
        class="progress-bar progress-bar-vm"
        role="progressbar"
        aria-valuenow="40"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: {{100*VM.memory.size/host.memory.size}}%;"
        xo-sref="VMs_view({uuid: VM.UUID})"
        tooltip="Allocated: {{100*VM.memory.size/host.memory.size}}%">
      {{VM.name_label}}
      </div>
    </div>
    <ul class="list-inline text-center">
      <li>Total: {{host.memory.size | bytes}}</li>
      <li>Currently used: {{host.memory.usage | bytes}}</li>
      <li>Available: {{host.memory.size-host.memory.usage | bytes}}</li>
    </ul>
  </div>
</div>

<!-- SR panel -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="xo-icon-sr" style="color: #e25440;"></i> Storage
    <table class="table table-hover">
      <tr>
        <th class="col-md-1">Name</th>
        <th class="col-md-2">Description</th>
        <th class="col-md-1">Format</th>
        <th class="col-md-1">Size</th>
        <th class="col-md-5">Physical/Allocated usage</th>
        <th class="col-md-2">Type</th>
      </tr>
      <!-- TODO: display PBD status for each SR of this host (connected or not) -->
      <!-- Shared SR -->
      <tr xo-sref="SRs_view({uuid: SR.UUID})" ng-repeat="SR in (host.$pool | fromUUID).SRs | fromUUID | orderBy:'name_label'">
        <td>{{SR.name_label}}</td>
        <td>{{SR.name_description}}</td>
        <td>{{SR.SR_type}}</td>
        <td>{{SR.size | bytes}}</td>
        <td>
          <div class="progress-condensed">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuemin="0"
              aria-valuenow="{{SR.usage}}"
              aria-valuemax="{{SR.size}}"
              style="width: {{100*SR.physical_usage/SR.size}}%"
              tooltip="Physical usage: {{100*SR.physical_usage/SR.size}}%"
            ></div>
            <div
              class="progress-bar progress-bar-info"
              role="progressbar"
              aria-valuemin="0"
              aria-valuenow="{{SR.physical_usage}}"
              aria-valuemax="{{SR.size}}"
              style="width: {{100*(SR.usage-SR.physical_usage)/SR.size}}%"
              tooltip="Allocated: {{100*(SR.usage)/SR.size}}%"
            ></div>
          </div>
        </td>
        <td><span class="label label-success">Shared</span></td>
      </tr>
      <!-- Local SR -->
      <tr xo-sref="SRs_view({uuid: SR.UUID})" ng-repeat="SR in host.SRs | fromUUID | orderBy:'name_label'">
        <td>{{SR.name_label}}</td>
        <td>{{SR.name_description}}</td>
        <td>{{SR.SR_type}}</td>
        <td>{{SR.size | bytes}}</td>
        <td>
          <div class="progress-condensed">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuemin="0"
              aria-valuenow="{{SR.usage}}"
              aria-valuemax="{{SR.size}}"
              style="width: {{100*SR.physical_usage/SR.size}}%"
              tooltip="Physical usage: {{100*SR.physical_usage/SR.size}}%"
            ></div>
            <div
              class="progress-bar progress-bar-info"
              role="progressbar"
              aria-valuemin="0"
              aria-valuenow="{{SR.physical_usage}}"
              aria-valuemax="{{SR.size}}"
              style="width: {{100*(SR.usage-SR.physical_usage)/SR.size}}%"
              tooltip="Allocated: {{100*(SR.usage)/SR.size}}%"
            ></div>
          </div>
        </td>
        <td><span class="label label-info">Local</span></td>
      </tr>
    </table>
    <p class="center">
      <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add Storage</button>
  </div>
</div>

<!-- Network panel -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="xo-icon-network" style="color: #e25440;"></i> Network</p>
    <table class="table table-hover">
      <th class="col-md-1">Name</th>
      <th class="col-md-1">Speed</th>
      <th class="col-md-1">Duplex</th>
      <th class="col-md-1">IP</th>
      <th class="col-md-2">MAC</th>
      <th>Hardware</th>
      <th class="col-md-1">Link status</th>
      <tr>
        <td>PIF #0</td>
        <td>1000</td>
        <td>Yes</td>
        <td>88.190.10.11</td>
        <td>e4:11:5b:b7:f3:8f</td>
        <td> Intel Corporation 82574L Gigabit Network Connection</td>
        <td>
          <span class="label label-success">OK</span>
          <div class="quick-buttons"><div class="quick-button"><a data-toggle="tooltip" title="Delete SR"><i class="fa fa-trash-o"></i></a></div></div>
        </td>
      </tr>
    </table>
    <p class="center">
      <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add Network</button>
  </div>
</div>

<!-- CPU and Logs panels -->
<div class="grid">
  <!-- CPU panel -->
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="xo-icon-cpu" style="color: #e25440;"></i> CPUs</p>
    <table class="table table-hover">
      <th>Vendor</th>
      <th>Speed</th>
      <th class="col-md-6">Model</th>
      <tr>
        <td>GenuineIntel</td>
        <td>3,2Ghz</td>
        <td>Intel(R) Core(TM) i5-3470 CPU @ 3.20GHz</td>
      </tr>
      <tr>
        <td>GenuineIntel</td>
        <td>3,2Ghz</td>
        <td>Intel(R) Core(TM) i5-3470 CPU @ 3.20GHz</td>
      </tr>
      <tr>
        <td>GenuineIntel</td>
        <td>3,2Ghz</td>
        <td>Intel(R) Core(TM) i5-3470 CPU @ 3.20GHz</td>
      </tr>
      <tr>
        <td>GenuineIntel</td>
        <td>3,2Ghz</td>
        <td>Intel(R) Core(TM) i5-3470 CPU @ 3.20GHz</td>
      </tr>
    </table>
    </div>
  <!-- Logs panel -->
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-comments" style="color: #e25440;"></i> Logs</p>
    <p class="center">No logs so far.</p>
  </div>

</div>
