<!-- TODO: print a message when no entries. -->

<!-- If it's a (named) pool. -->
<div
  ng-repeat="pool in byTypes.pool | filter:listFilter | orderBy:'name_label' track by pool.UUID"
  ng-if="pool.name_label"
  class="grid flat-object"
  xo-sref="pools_view({uuid: pool.UUID})"
>

  <!-- Icon. -->
  <div class="grid-cell flat-cell flat-cell-type">
    <i class="xo-icon-pool"></i>
  </div>

  <!-- Properties & tags. -->
  <div class="grid-cell">

    <!-- Properties. -->
    <div class="grid">
      <div class="grid-cell">
        <div class="grid">
          <div class="grid-cell flat-cell flat-cell-name">
            {{pool.name_label}}
          </div>
          <div class="grid-cell flat-cell flat-cell-description">
            <i>{{pool.name_description}}</i>
          </div>
          <div class="grid-cell flat-cell" ng-init="default_SR = (pool.default_SR | fromUUID)">
            <div ng-if="default_SR">
              Default SR: <a ui-sref="SRs_view({uuid: pool.default_SR})">{{default_SR.name_label}}</a>
            </div>
            <div ng-if="!default_SR">
              <em>No default SR.</em>
            </div>
          </div>
          <div class="grid-cell flat-cell" ng-init="master = (pool.master | fromUUID)">
            <div ng-if="master">
              Master: <a ui-sref="hosts_view({uuid: pool.master})">{{master.name_label}}</a>
            </div>
            <div ng-if="!master">
              <em>Unknown master.</em>
            </div>
          </div>
          <div class="grid-cell flat-cell">
            <div ng-if="pool.HA_enabled">
              HA enabled
            </div>
            <div ng-if="!pool.HA_enabled">
              HA disabled
            </div>
          </div>
          <div class="grid-cell flat-cell">
            {{pool.$running_hosts.length}}/{{pool.hosts.length}} hosts
          </div>
        </div>
      </div>
    </div>
    <!-- /Properties. -->

    <!-- Tags. -->
    <div class="grid">
      <div class=" grid-cell">
        <div class="grid-cell flat-cell-tag">
          <i class="fa fa-tag"></i>&nbsp;&nbsp;
          <span ng-repeat="tag in pool.tags">
            <span class="label label-primary">{{tag}}</span>
          </span>
        </div>
      </div>
    </div>
    <!-- /Tags. -->

  </div>
  <!-- /Properties & tags. -->

</div>
<!-- /Pool. -->

<!-- If it's a host. -->
<div
  ng-repeat="host in byTypes.host | filter:listFilter | orderBy:'name_label' track by host.UUID"
  class="grid flat-object"
  xo-sref="hosts_view({uuid: host.UUID})"
>

  <!-- Icon. -->
  <div class="grid-cell flat-cell flat-cell-type">
    <i class="xo-icon-host xo-color-{{host.power_state | lowercase}}"></i>
  </div>

  <!-- Properties & tags. -->
  <div class="grid-cell">

    <!-- Properties. -->
    <div class="grid ">
      <div class="grid-cell">
        <div class="grid">
          <div class="grid-cell flat-cell flat-cell-name">
            {{host.name_label}}
          </div>
          <div class="grid-cell flat-cell flat-cell-description">
            <i>{{host.name_description}}</i>
          </div>
          <div class="grid-cell flat-cell">
            Address: {{host.address}}
          </div>
          <div class="grid-cell flat-cell">
            {{host.$vCPUs}} vCPUs used on {{host.CPUs["cpu_count"]}} CPUs
          </div>
          <div class="grid-cell flat-cell">
            {{host.memory.usage | bytes}} used of {{host.memory.size | bytes}} ({{[host.memory.usage, host.memory.size] | %}})
          </div>
          <div class="grid-cell flat-cell">
            {{host.VMs.length}} VMs running
          </div>
        </div>
      </div>
    </div>
    <!-- /Properties. -->

    <!-- Tags. -->
    <div class="grid">
      <div class=" grid-cell">
        <div class="grid-cell flat-cell-tag">
          <i class="fa fa-tag"></i>&nbsp;&nbsp;
          <span ng-repeat="tag in host.tags">
            <span class="label label-primary">{{tag}}</span>
          </span>
        </div>
      </div>
    </div>
    <!-- /Tags. -->

  </div>
  <!-- /Properties & tags. -->

</div>
<!-- /Host. -->

<!-- If it's a VM. -->
<div
  ng-repeat="VM in byTypes.VM | filter:listFilter | orderBy:'name_label' track by VM.UUID"
  class="grid flat-object"
  xo-sref="VMs_view({uuid: VM.UUID})"
>

  <!-- Icon. -->
  <div class="grid-cell flat-cell flat-cell-type">
    <i class="xo-icon-vm xo-color-{{VM.power_state | lowercase}}"></i>
  </div>

  <!-- Properties & tags. -->
  <div class="grid-cell">

    <!-- Properties. -->
    <div class="grid ">
      <div class="grid-cell">
        <div class="grid">
          <div class="grid-cell flat-cell flat-cell-name">
            {{VM.name_label}}
          </div>
          <div class="grid-cell flat-cell flat-cell-description">
            <i>{{VM.name_description}}</i>
          </div>
          <div class="grid-cell flat-cell">
            Address: {{VM.address.ip["0/ip"]}}
          </div>
          <div class="grid-cell flat-cell">
            {{VM.CPUs.number}} vCPUs
          </div>
          <div class="grid-cell flat-cell">
            {{VM.memory.size | bytes}} RAM
          </div>
          <div class="grid-cell flat-cell" ng-init="container = (VM.$container | fromUUID)">
            <div ng-if="'pool' === container.type">
              Resident on: <a ui-sref="pools_view({uuid: container.UUID})">{{container.name_label}}</a>
            </div>
            <div ng-if="'host' === container.type" ng-init="pool = (container.$pool | fromUUID)">
              Resident on: <a ui-sref="hosts_view({uuid: container.UUID})">{{container.name_label}}</a> (<a ui-sref="pools_view({uuid: host.$pool})">{{pool.name_label}}</a>)
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Properties. -->

    <!-- Tags. -->
    <div class="grid">
      <div class=" grid-cell">
        <div class="grid-cell flat-cell-tag">
          <i class="fa fa-tag"></i>&nbsp;&nbsp;
          <span ng-repeat="tag in VM.tags">
            <span class="label label-primary">{{tag}}</span>
          </span>
        </div>
      </div>
    </div>
    <!-- /Tags. -->

  </div>
  <!-- /Properties & tags. -->

</div>
<!-- /VM. -->

<!-- If it's a SR. -->
<div
  ng-repeat="SR in byTypes.SR | filter:listFilter | orderBy:'name_label' track by SR.UUID"
  class="grid flat-object"
  xo-sref="SRs_view({uuid: SR.UUID})"
>

  <!-- Icon. -->
  <div class="grid-cell flat-cell flat-cell-type">
    <i class="xo-icon-sr"></i>
  </div>

  <!-- Properties & tags. -->
  <div class="grid-cell">

    <!-- Properties. -->
    <div class="grid ">
      <div class="grid-cell">
        <div class="grid">
          <div class="grid-cell flat-cell flat-cell-name">
            {{SR.name_label}}
          </div>
          <div class="grid-cell flat-cell flat-cell-description">
            <i>{{SR.name_description}}</i>
          </div>
          <div class="grid-cell flat-cell">
            Usage: {{[SR.usage, SR.size] | %}} ({{SR.usage | bytes}}/{{SR.size | bytes}})
          </div>
          <div class="grid-cell flat-cell">
            Type: {{SR.SR_type}}
          </div>
          <div class="grid-cell flat-cell" ng-init="container = (SR.$container | fromUUID)">
            <div ng-if="'pool' === container.type">
              <strong>Shared on <a ui-sref="pools_view({uuid: container.UUID})">{{container.name_label}}</a></strong>
            </div>
            <div ng-if="'host' === container.type">
              Connected to <a ui-sref="hosts_view({uuid: container.UUID})">{{container.name_label}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Properties. -->

    <!-- Tags. -->
    <div class="grid">
      <div class=" grid-cell">
        <div class="grid-cell flat-cell-tag">
          <i class="fa fa-tag"></i>&nbsp;&nbsp;
          <span ng-repeat="tag in SR.tags">
            <span class="label label-primary">{{tag}}</span>
          </span>
        </div>
      </div>
    </div>
    <!-- /Tags. -->

  </div>
  <!-- /Properties & tags. -->

</div>
<!-- /SR. -->
