<div class="sub-bar">
  <div class="grid">
    <div class="grid-cell overview">
      <!--Stats-->
      <i tooltip="2 pools">
        <i class="small">2x</i>
        <i class="fa fa-cloud"></i>
      </i>
      &nbsp;
      <i tooltip="3 hosts">
        <i class="small">3x</i>
        <i class="fa fa-square"></i>
      </i>
      &nbsp;
      <i tooltip="6 of 8 VMs running">
        <i class="small">6x</i>
        <i class="fa fa-desktop"></i>
      </i>
      &nbsp;
      <i tooltip="32 vCPUs used of 12 CPUs">
        <i class="small">32x</i>
        <i class="fa fa-dashboard"></i>
      </i>
      &nbsp;
      <i tooltip="32GB RAM allocated of 64GB">
        <i class="small">32GB</i>
        <i class="fa fa-tasks"></i>
      </i>
    </div>
    <div class="grid-cell">
      <div class="btn-group before-action-bar">
        <a type="button" class="btn navbar-btn btn-default dropdown-toggle inversed" data-toggle="dropdown">
          <input type="checkbox" class="inverse">
          <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu inverse" role="menu">
          <li><a href="#">All</a></li>
          <li><a href="#">On host1</a></li>
          <li><a href="#">On host2</a></li>
          <li><a href="#">On host3</a></li>
        </ul>
      </div>
      <div class="action-bar">
        <div class="btn-group">
          <button type="button" class="btn navbar-btn btn-default inversed"><i class="fa fa-stop"></i></button>
          <button type="button" class="btn navbar-btn btn-default inversed"><i class="fa fa-play"></i></button>
          <button type="button" class="btn navbar-btn btn-default inversed"><i class="fa fa-refresh"></i></button>
        </div>
        <button type="button" class="btn navbar-btn btn-default inversed"><i class="fa fa-share"></i></button>
        <div class="btn-group">
          <button type="button" class="btn navbar-btn btn-default dropdown-toggle inversed" data-toggle="dropdown">More <i class="fa fa-caret-down"></i></button>
          <ul class="dropdown-menu inverse" role="menu">
            <li><a href="#"><i class="fa fa-bolt"></i> Force reboot</a></li>
            <li><a href="#"><i class="fa fa-power-off"></i> Force shutdown</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
            <li><a href="#"><i class="fa fa-camera"></i> Take a snapshot</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Ugly trick to force the pools to be under the sub bar. -->
<div style="margin-top: 50px; visibility: hidden; height: 0">.</div>

<!-- Contains a pool and all its children (hosts). -->
<div ng-repeat="pool in pools" class="grid pool-block">

  <!-- Contains information about the pool. -->
  <div class="grid-cell grid--gutters pool-cell">

    <!-- Header (name + dropdown menu). -->
    <div class="dropdown dropdown-pool">
      <a class="pool-name" ng-href="#/pools/{{pool.uuid}}">
        {{pool.name_label}}
      </a>
      <a class="dropdown-toggle">&nbsp;<i class="fa fa-caret-down big-caret"></i>&nbsp;</a>
      <ul class="dropdown-menu left" role="menu">
        <li><a href="#"><i class="fa fa-hdd-o"></i>&nbsp; Add SR</a></li>
        <li><a href="#"><i class="fa fa-desktop"></i> Add VM</a></li>
        <li><a href="#"><i class="fa fa-cloud-download"></i> Add Host</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="fa fa-unlink"></i> Disconnect</a></li>
      </ul>
    </div>
    <!-- /Header. -->

    <!-- Stats & SRs list. -->
    <div>

      <!-- Stats. -->
      <ul class="list-unstyled overview-pool">
        <li>
          <i tooltip="{{pool.n_hosts}} hosts connected">
            <i class="small">{{pool.n_hosts}}x</i>
            <i class="fa fa-square"></i>
          </i>
          &nbsp;
          <i tooltip="{{pool.n_running_VMs}} of {{pool.n_VMs}} VMs running">
            <i class="small">{{pool.n_running_VMs}}x</i>
            <i class="fa fa-desktop"></i>
          </i>
        </li>
        <li ng-if="pool.master">
          Master: <a href="#/hosts/{{pool.master.uuid}}">{{pool.master.name_label}}</a>
        </li>
        <li ng-if="!pool.master">No master</li>
      </ul>
      <!-- /Stats. -->

      <!-- SRs. -->
      <p ng-if="pool.SRs" class="center small-caps">Shared Sr:</p>
      <table ng-if="pool.SRs" class="table table-hover table-condensed">
        <tr ng-repeat="SR in pool.SRs">
          <td class="col-md-6 sr-name no-border">
            <i class="fa fa-hdd-o i-progress">&nbsp;</i>
            {{SR.name_label}}
          </td>
          <td class="col-md-6 right no-border">
            <div class="progress progress-small">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="{{100*SR.usage/SR.size}}"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: {{100*SR.usage/SR.size}}%"
                ></div>
            </div>
          </td>
        </tr>
      </table>
      <!-- /SRs. -->

    </div>
    <!-- /Stats & SRs list. -->

  </div>
  <!-- /Information about the pool. -->


  <!-- Contains all the hosts of this pool. -->
  <div class="grid-cell grid--gutters hosts-vms-cells">

    <!-- Contains a host and all its children (VMs). -->
    <div ng-repeat="host in pool.hosts" class="grid">

      <!-- Contains information about the host. -->
      <div class="grid-cell host-cell">

        <!-- Header (name + dropdown menu). -->
        <div class="dropdown dropdown-pool">
          <a class="host-name" ng-href="#/hosts/{{host.uuid}}">
            {{host.name_label}}
          </a>
          <a class="dropdown-toggle">&nbsp;<i class="fa fa-caret-down"></i>&nbsp;</a>
          <ul class="dropdown-menu left" role="menu">
            <li><a href="#"><i class="fa fa-hdd-o"></i>&nbsp; Add SR</a></li>
            <li><a href="#"><i class="fa fa-desktop"></i> Add VM</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-refresh"></i> Reboot</a></li>
            <li><a href="#"><i class="fa fa-power-off"></i> Shutdown</a></li>
            <li><a href="#"><i class="fa fa-retweet"></i> Restart toolstack</a></li>
            <li><a href="#"><i class="fa fa-cloud-upload"></i> Remove from pool</a></li>
          </ul>
        </div>
        <!-- /Header. -->

        <!-- Stats. -->
        <ul class="list-unstyled overview-pool">
          <li ng-if="!host.enabled">
            <i class="fa fa-warning text-danger"></i>
          </li>
          <li class="text-muted">
            <i class="fa fa-sitemap"></i>
            {{host.address}}
          </li>
        </ul>
        <!-- /Stats. -->

        <!-- Memory. -->
        <ul ng-if="host.enabled" class="list-unstyled overview-pool">
          <li>
            <i class="fa fa-tasks i-progress"></i>
            <div class="progress progress-small">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="{{100*host.memory.usage/host.memory.size}}"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: {{100*host.memory.usage/host.memory.size}}%"
                ></div>
            </div>
          </li>
        </ul>
        <!-- /Memory. -->

      </div>
      <!-- /Information about the host. -->

      <!-- Contains all the VMs of this pool. -->
      <div class="grid grid-cell vm-cell">

        <p ng-if="!host.enabled" class="vms-notice">
          Host disconnected.
        </p>

        <p ng-if="host.enabled &amp;&amp; !host.VMs" class="vms-notice">
          No VMs on this host.
        </p>

        <!-- TODO: comment -->
        <table ng-if="host.VMs" class="table table-hover table-condensed">

          <!-- Contains a VM. -->
          <tr ng-repeat="VM in host.VMs">

            <!-- Handle used for drag & drop. -->
            <td class="grab"></td>

            <!-- Checkbox used for selection. -->
            <td class="select-vm">
              <input type="checkbox" class="checkbox-vm"/>
            </td>

            <!-- Power state, name & quick actions. -->
            <td class="col-md-4">
              <div class="row">

                <!-- Power state & name. -->
                <div class="col-md-7">
                  <ng-switch on="VM.power_state">
                    <i ng-switch-when="Running" class="power-state-running" tooltip="Running"></i>
                    <i ng-switch-when="Halted" class="power-state-halted" tooltip="Halted"></i>
                    <i ng-switch-when="Paused" class="power-state-paused" tooltip="Paused"></i>
                    <i ng-switch-default class="power-state-unknown" tooltip="Unknown"></i>
                  </ng-switch>
                  <p class="vm">{{VM.name_label}}</p>
                </div>
                <!-- /Power state & name. -->

                <!-- Quick actions. -->
                <div class="col-md-5">
                  <div class="quick-buttons">
                    <a href="#" tooltip="Shutdown VM">
                      <i class="fa fa-stop"></i>
                    </a>
                    <a href="#" tooltip="Start VM">
                      <i class="fa fa-play"></i>
                    </a>
                    <a href="#" tooltip="Reboot VM">
                      <i class="fa fa-refresh"></i>
                    </a>
                    <a href="#" tooltip="VM Console">
                      <i class="fa fa-desktop"></i>
                    </a>
                  </div>
                </div>

              </div>
            </td>
            <!-- /Power state, name & quick actions. -->

            <!-- Description. -->
            <td class="col-md-4">
              {{VM.name_description}}
            </td>

            <!-- Metrics. -->
            <td class="col-md-2">
              <div class="cpu" tooltip="CPU Load: {{VM.CPU_usage}}%">
                <i ng-if="VM.CPU_usage < 50" class="fa fa-dashboard text-success"></i>
                <i ng-if="VM.CPU_usage >= 50" class="fa fa-dashboard text-danger"></i>
              </div>
              <div class="cpu" tooltip="{{VM.memory.usage | bytes}} used">
                {{VM.memory.size | bytes}}
              </div>
            </td>
            <!-- /Metrics. -->

            <!-- Address. -->
            <td class="col-md-2 text-muted text-right">
              {{VM.address}}
            </td>
          </tr>

        </table>

      </div>
      <!-- /VMs of this host. -->

    </div>
    <!-- /Host with its children. -->

  </div>
  <!-- /Hosts of this pool. -->

</div>
<!-- /Pool with its children. -->
