  <!-- TODO: lots of stuff. -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="page-title"><i class="xo-icon-vm"></i> Add SR on {{container.name_label}}</p>
  </div>
</div>

<!-- Add server panel -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-info-circle" style="color: #e25440;"></i> SR info</p>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-3 control-label">Type</label>
        <div class="col-sm-9">
          <select class="form-control">
            <option value="">-- Choose a type of SR --</option>
            <optgroup label="VDI SR">
              <option value="NFS">NFS</option>
              <option value="ISCSI">Software iSCSI</option>
              <option value="HBA">HBA</option>
            </optgroup>
            <optgroup label="ISO SR">
              <option value="CIFSISO">CIFS</option>
              <option value="NFSISO">NFS</option>
            </optgroup>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Description</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="SR Created by Xen Orchestra">
        </div>
      </div>
    </form>
    <p class="text-center"><a class="btn btn-primary big"><i class="fa fa-times"></i> Clear</a> <a class="btn btn-success big"><i class="fa fa-save"></i> Save</a></p>
    </form>
  </div>
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-link" style="color: #e25440;"></i> Connection</p>
  </div>
</div>