  <!-- TODO: lots of stuff. -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="page-title"><i class="xo-icon-vm"></i> Add VM</p>
  </div>
</div>

<!-- Add server panel -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-info-circle" style="color: #e25440;"></i> VM info</p>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-3 control-label">Template</label>
        <div class="col-sm-9">
          <select ui-select2 ng-model="select2">
              <optgroup label="NFS ISO">
                <option>Debian_netinstall_7.iso</option>
                <option>Debian_netinstall_6.iso</option>
                <option>WS2008R2</option>
              </optgroup>
              <optgroup label="DVD Drive">
                <option>None</option>
              </optgroup>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Description</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="VM Created by Xen Orchestra">
        </div>
      </div>
    </form>
    <p class="text-center"><a class="btn btn-primary big"><i class="fa fa-times"></i> Clear</a> <a class="btn btn-success big"><i class="fa fa-save"></i> Save</a></p>
    </form>
  </div>
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-dashboard" style="color: #e25440;"></i> Performances</p>
      vCPU:
      <br/>
      RAM:
      <br/>
      Available RAM on this pool:
      <br/>
  </div>
</div>

<!-- TODO: Disk panel -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="xo-icon-sr" style="color: #e25440;"></i> Disk</p>
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Size</th>
        <th>Physical usage</th>
      </tr>
      <tr ng-click="goToVDI(VDI.$UUID)" ng-repeat="VDI in VM.$VBDs | fromUUID | map:'VDI' | fromUUID | orderBy:'name_label'">
        <td>{{VDI.name_label}}</td>
        <td>{{VDI.name_description}}</td>
        <td>{{VDI.size | bytes}}</td>
        <td>{{VDI.usage | bytes}}</td>
      <tr>
      </tr>
    </table>
    <p class="center">
      <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add Disk</button>
  </div>
</div>
