  <!-- TODO: lots of stuff. -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="page-title"><i class="fa fa-plus-circle"></i> Add user</p>
  </div>
</div>

<!-- Add server panel -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-user" style="color: #e25440;"></i> User info</p>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
      <input class="form-control" name="username" placeholder="Enter user" type="text">
    </div>
    <br/>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
      <input class="form-control" name="password" placeholder="Enter password" type="password">
    </div>
    <br/>
    <select class="form-control input-sm">
      <option>Admin</option>
      <option>Write</option>
      <option>Read</option>
    </select>
    <br/>
    <p class="text-center"><a class="btn btn-primary big"><i class="fa fa-times"></i> Clear</a> <a class="btn btn-success big"><i class="fa fa-save"></i> Save</a></p>
  </div>
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-lightbulb-o" style="color: #e25440;"></i> Notice</p>
    <ul>
      <li>Users are only created in Xen Orchestra, not in XAPI</li>
      <li>"Admin" user can do everything (add/remove/edit other users, add or remove servers etc.)</li>
      <li>"Write" permissions are the same as "Admin" without the possibily to modify other users</li>
      <li>"Read" allows to see everything without any rights to modify</li>
    </ul>
  </div>
</div>
