<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="page-title"><i class="xo-icon-vm"></i> Add VM on {{container.name_label}}</p>
  </div>
</div>

<!-- Add server panel -->
<form class="form-horizontal" ng-submit="createVM()">
  <div class="grid">
    <div class="grid-cell flat-panel">
      <p class="flat-panel-title">
        <i class="fa fa-info-circle" style="color: #e25440;"></i> VM info
      </p>
      <div class="form-group">
        <label class="col-sm-3 control-label">Template</label>
        <div class="col-sm-9">
          <select
            class="form-control"
            ng-model="template"
            ng-options="template.name_label for template in templates | resolve | orderBy:'name_label' track by template.UUID"
          >
            <option value="">-- Choose a template --</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Name of your new VM" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Description</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Optional description of you new VM">
        </div>
      </div>
    </div>
    <div class="grid-cell flat-panel">
      <p class="flat-panel-title"><i class="fa fa-dashboard" style="color: #e25440;"></i> Performances</p>
      <div class="form-group">
        <label class="col-sm-3 control-label">vCPUs</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="{{template.CPUs.number}}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">RAM</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="{{template.memory.size | bytesToSize}}">
        </div>
      </div>
    </div>
  </div>

  <div class="grid">
    <!-- TODO: Install panel -->
    <div class="grid-cell flat-panel">
      <p class="flat-panel-title"><i class="fa fa-download" style="color: #e25440;"></i> Install settings</p>
      <div class="form-group">
        <label class="col-sm-3 control-label">ISO/DVD</label>
        <div class="col-sm-9">
          <select
            ng-repeat="host in [VM.$container] | resolve"
            class="form-control"
          >
            <option>Choose an iso file</option>
            <optgroup
              ng-repeat="SR in (container.poolRef | resolve).SRs | resolve | filter:{SR_type: 'iso'} | orderBy:'name_label'"
              label="{{SR.name_label}}"
            >
              <option ng-repeat="VDI in SR.VDIs | resolve | orderBy:'name_label'">
                {{VDI.name_label}}
              </option>
            </optgroup>
            <optgroup
              ng-repeat="SR in (host.poolRef | resolve).SRs | resolve | filter:{SR_type: 'iso'} | filter:{$shared: false} | orderBy:'name_label'"
              label="{{SR.name_label}}"
            >
              <option ng-repeat="VDI in SR.VDIs | resolve | orderBy:'name_label'">
                {{VDI.name_label}}
              </option>
            </optgroup>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Network</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="e.g: http://ftp.debian.org/debian">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Home server</label>
        <div class="col-sm-9">
          <select class="form-control">
            <option>Default (auto)</option>
            <option>Lab1 (TODO)</option>
            <option>Lab2 (TODO)</option>
          </select>
        </div>
      </div>
    </div>

    <!-- TODO: interface panel -->
    <div class="grid-cell flat-panel">
      <p class="flat-panel-title"><i class="xo-icon-network" style="color: #e25440;"></i> Interfaces
      </p>
      <table class="table table-hover">
        <tr>
          <th>MAC</th>
          <th>Network</th>
        </tr>
        <tr>
          <td>
            <span editable-text="vif.MAC" e-name="mac" e-form="intSettings"></span>
          </td>
          <td>
          <span editable-select="network" e-ng-options=""></span>
          </td>
        </tr>
      </table>
      <div class="btn-form">
        <p class="center">
          <div class="btn-form">
            <p class="center">
              <button type="button" ng-click="addVIF()" class="btn btn-success">
                <i class="fa fa-plus"></i> Add interface
              </button>
            </p>
          </div>
        </p>
      </div>
    </div>
  </div>
  <!-- end of misc and interface panel -->

  <!-- TODO: Disk panel -->
  <div class="grid">
    <div class="grid-cell flat-panel">
      <p class="flat-panel-title">
        <i class="xo-icon-sr" style="color: #e25440;"></i> Disks
      </p>
      <table class="table table-hover">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Size</th>
          <th>SR</th>
        </tr>
        <tr ng-repeat="disk in template.disks">
          <td>
            <input type="text" class="form-control" placeholder="{{disk.device}}">
          </td>
          <td>
            <input type="text" class="form-control" placeholder="{{disk.name_description}}">
          </td>
          <td>{{disk.size | bytesToSize}}</td>
          <td>
            <select class="form-control">
              <!-- TODO Warning: maybe filter to another type of SR, not only LVM but file/whatever possible -->
              <option ng-repeat="SR in container.SRs | resolve | filter:{SR_type: 'lvmoiscsi'} | orderBy:'name_label' track by SR.UUID">
                {{SR.name_label}}
              </option>
            </select>
          </td>
        </tr>
      </table>
      <div class="btn-form">
        <p class="center">
          <div class="btn-form">
            <p class="center">
              <button type="button" ng-click="addVDI()" class="btn btn-success"><i class="fa fa-plus"></i> Add disk</button>
            </p>
          </div>
        </p>
      </div>
    </div>
  </div>

  <!-- Confirmation panel -->
  <div class="grid">
    <div class="grid-cell flat-panel">
      <p class="flat-panel-title"><i class="fa fa-flag-checkered" style="color: #e25440;"></i> Summary</p>
      <div class="grid">
        <div class="grid-cell">
          <p class="stat-name">vCPUs</p>
          <p class="center big">{{template.CPUs.number}}</p>
        </div>
        <div class="grid-cell">
          <p class="stat-name">RAM</p>
          <p class="center big">{{template.memory.size | bytesToSize}}</p>
        </div>
        <div class="grid-cell">
          <p class="stat-name">Disks</p>
          <p class="center big">{{template.$VBDs.length || 0}}</p>
        </div>
        <div class="grid-cell">
          <p class="stat-name">Based on</p>
          <p class="center">{{template.name_label}}</p>
        </div>
      </div>
      <p class="center"><button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-play"></i> Create VM</button></p>
    </div>
  </div>
</form>
