  <!-- TODO: lots of stuff. -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="page-title"><i class="fa fa-cog"></i> XO Settings</p>
  </div>
</div>

<!-- Add server panel -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-link" style="color: #e25440;"></i> Connected servers</p>
    <form ng-submit="saveServers()" autocomplete="off">
      <table class="table table-hover">
        <tr>
          <th>Host</th>
          <th>User</th>
          <th>Password</th>
          <th>Delete</th>
        </tr>
        <tr ng-repeat="server in servers | orderBy:'host' track by server.id">
          <td><input type="text" ng-model="server.host" class="form-control" /></td>
          <td><input type="text" ng-model="server.username" class="form-control"/></td>
          <td>
            <input type="password" ng-model="server.password" class="form-control" placeholder="Fill to change the password"/>
          </td>
          <td><input type="checkbox" ng-model="selectedServers[server.id]"/></td>
        </tr>
        <tr ng-repeat="server in newServers">
          <td>
            <input type="text" ng-model="server.host" class="form-control" placeholder="address[:port]"/>
          </td>
          <td>
            <input type="text" ng-model="server.username" class="form-control" placeholder="user"/>
          </td>
          <td>
            <input type="password" ng-model="server.password" class="form-control" placeholder="password"/>
          </td>
          <td>&nbsp;</td>
        </tr>
      </table>
      <p class="text-center">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-save"></i> Save
        </button>
        <button type="button" class="btn btn-success" ng-click="addServer()">
          <i class="fa fa-plus"></i>
        </button>
      </p>
    </form>
  </div>
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-users" style="color: #e25440;"></i> Users</p>
     <form ng-submit="saveUsers()" autocomplete="off">
      <table class="table table-hover">
        <tr>
          <th>Email</th>
          <th>Permissions</th>
          <th>Password</th>
          <th>Delete</th>
        </tr>
        <tr ng-repeat="user in users | orderBy:'email' track by user.id">
          <td><input type="text" ng-model="user.email" class="form-control"/></td>
          <td>
            <select
              ng-options="p.value as p.label for p in permissions"
              ng-model="user.permission"
              class="form-control"
            >
            </select>
          </td>
          <td>
            <input type="password" ng-model="user.password" class="form-control" placeholder="Fill to change the password"/>
          </td>
          <td><input type="checkbox" ng-model="selectedUsers[user.id]" /></td>
        </tr>
        <tr ng-repeat="user in newUsers">
          <td>
            <input type="text" ng-model="user.email" class="form-control" placeholder="email"/>
          </td>
          <td>
            <select
              ng-options="p.value as p.label for p in permissions"
              ng-model="user.permission"
              class="form-control"
            >
            </select>
          </td>
          <td>
            <input type="password" ng-model="user.password" class="form-control" placeholder="password"/>
          </td>
          <td>&nbsp;</td>
        </tr>
      </table>
      <p class="text-center">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-save"></i> Save
        </button>
        <button type="button" class="btn btn-success" ng-click="addUser()">
          <i class="fa fa-plus"></i>
        </button>
      </p>
    </form>
  </div>
</div>
