  <!-- TODO: lots of stuff. -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="page-title"><i class="fa fa-cog"></i> XO Settings</p>
  </div>
</div>

<!-- Add server panel -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-link" style="color: #e25440;"></i> Connected servers</p>
    <table class="table table-hover">
      <tr>
        <th>Hostname/IP</th>
        <th>User</th>
        <th>Delete</th>
      </tr>
      <tr>
        <td>192.168.1.1</td>
        <td>root</td>
        <td>checkbox</td>
      </tr>
    </table>
    <p class="text-center">
      <a class="btn btn-primary big"><i class="fa fa-save"></i> Save</a>
      <a class="btn btn-success big" href="#/server/new"><i class="fa fa-plus-circle"></i> Add new server</a>
    </p>
  </div>
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-users" style="color: #e25440;"></i> Users</p>
    <table class="table table-hover">
      <tr>
        <th>User</th>
        <th>Permissions</th>
        <th>Delete</th>
      </tr>
      <tr>
        <td>root</td>
        <td>select menu</td>
        <td>checkbox</td>
      </tr>
    </table>
    <p class="text-center">
      <a class="btn btn-primary big"><i class="fa fa-save"></i> Save</a>
      <a class="btn btn-success big" href="#/server/new"><i class="fa fa-user"></i> Add new user</a>
    </p>
  </div>
</div>
