<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="page-title"><i class="xo-icon-sr"></i> {{SR.name_label}}</p>
  </div>
</div>
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-cogs" style="color: #e25440;"></i> General</p>
    <div class="general-properties">
      <dl class="dl-horizontal">
        <dt>Name</dt>
          <dd><a editable-text="SR.name_label">{{SR.name_label}}</a></dd>
        <dt>Description</dt>
          <dd><a editable-text="SR.name_description">{{SR.name_description}}</a></dd>
        <dt>Content type:</dt>
          <dd>{{SR.SR_type}}</dd>
        <dt>Tags</dt>
          <dd ng-if="SR.tags.length">
            <span ng-repeat="tag in SR.tags">
              <span class="label label-primary">{{tag}}</span>
            </span>
          </dd>
          <dd ng-if="!SR.tags.length">
            <em>No tags.</em>
          </dd>
        <dt>Shared</dt>
          <div ng-init="container = (SR.$container | fromUUID)">
            <dd ng-if="'pool' === container.type">Yes (<a ui-sref="pools_view({uuid: container.UUID})">{{container.name_label}}</a>)</dd>
            <dd ng-if="'host' === container.type">No</dd>
          </div>
        <dt>Size</dt>
          <dd>{{SR.size | bytes}}</dd>
        <dt>UUID</dt>
          <dd>{{SR.UUID}}</dd>
      </dl>
    </div>
  </div>
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-bar-chart-o" style="color: #e25440;"></i> Stats</p>
    <div class="grid">
      <div class="grid-cell">
        <p class="stat-name">Physical Alloc:</p>
        <p class="center big">{{SR.physical_usage/SR.size*100}}%</p>
      </div>
      <div class="grid-cell">
        <p class="stat-name">Virtual Alloc:</p>
        <p class="center big">{{SR.usage/SR.size*100}}%</p>
      </div>
      <div class="grid-cell">
        <p class="stat-name">VDIs:</p>
        <p class="center big">5</p>
      </div>
    </div>
  </div>
</div>

<!-- TODO: VDIs. -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-hdd-o" style="color: #e25440;"></i> Virtual disks</p>
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Size</th>
        <th>Attached to:</th>
      </tr>
      <tr xo-sref="VDIs_view({uuid: VDI.UUID})" ng-repeat="VDI in SR.$VDIs | fromUUID">
        <td>{{VDI.name_label}}</td>
        <td>{{VDI.name_description}}</td>
        <td>{{VDI.size | bytes}}</td>
        <td>{{(((VDI.$VBD | fromUUID).VM) | fromUUID).name_label}}</td>
      </tr>
    </table>
    <p class="center">
      <button type="button" class="btn btn-primary">
        <i class="fa fa-plus"></i> Add disk
      </button>
      <button type="button" class="btn btn-primary">
        <i class="fa fa-refresh"></i> Rescan SR
        </button>
    </p>
  </div>
</div>
<!-- /VDIs. -->

<!-- Hosts. -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-link" style="color: #e25440;"></i> Connected hosts</p>
    <table class="table table-hover">
      <th>Name</th>
      <th>Status</th>
      <tr xo-sref="hosts_view({uuid: PBD.host})" ng-repeat="PBD in SR.$PBDs | fromUUID">
        <td>{{(PBD.host | fromUUID).name_label}}</td>
        <td ng-if="PBD.attached"><span class="label label-success">Connected</span></td>
        <td ng-if="!PBD.attached"><span class="label label-default">Disabled</span></td>
      </tr>
    </table>
    </div>
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-comments" style="color: #e25440;"></i> Logs</p>
    <p class="center">No logs so far.</p>
  </div>
</div>
<!-- /Hosts. -->
