<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="page-title"><i class="xo-icon-sr"></i> {{SR.name_label}}</p>
  </div>
</div>
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title">
      <i class="fa fa-cogs" style="color: #e25440;"></i> General
      <span class="quick-edit" tooltip="Edit General settings" ng-click="srSettings.$show()">
        <i class="fa fa-edit fa-fw"></i>
      </span>
    </p>
    <div class="general-properties">
      <form editable-form name="srSettings" onaftersave="saveSR()">
        <dl class="dl-horizontal">
          <dt>Name</dt>
            <dd>
              <span editable-text="SR.name_label" e-name="name_label" e-form="srSettings">
                {{SR.name_label}}
              </span>
            </dd>
          <dt>Description</dt>
            <dd>
              <span editable-text="SR.name_description" e-name="name_description" e-form="srSettings">
                {{SR.name_description}}
              </span>
            </dd>
          <dt>Content type:</dt>
            <dd>{{SR.SR_type}}</dd>
          <dt>Tags</dt>
            <dd ng-if="SR.tags.length">
              <span ng-repeat="tag in SR.tags">
                <span class="label label-primary">{{tag}}</span>
              </span>
            </dd>
            <dd ng-if="!SR.tags.length">
              <em>No tags.</em>
            </dd>
          <dt>Shared</dt>
            <div ng-repeat="container in [SR.$container] | resolve">
              <dd ng-if="'pool' === container.type">Yes (<a ui-sref="pools_view({uuid: container.UUID})">{{container.name_label}}</a>)</dd>
              <dd ng-if="'host' === container.type">No</dd>
            </div>
          <dt>Size</dt>
            <dd>{{SR.size | bytesToSize}}</dd>
          <dt>UUID</dt>
            <dd>{{SR.UUID}}</dd>
        </dl>
        <div class="btn-form" ng-show="srSettings.$visible">
          <p class="center">
            <button type="button" ng-disabled="srSettings.$waiting" ng-click="srSettings.$cancel()" class="btn btn-default"><i class="fa fa-times"></i> Cancel</button>
            <button type="button" ng-disabled="srSettings.$waiting" ng-click="addVDI()" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
          </p>
        </div>
      </form>
    </div>
  </div>
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-bar-chart-o" style="color: #e25440;"></i> Stats</p>
    <div class="grid">
      <div class="grid-cell">
        <p class="stat-name">Physical Alloc:</p>
        <p class="center big">{{[SR.physical_usage, SR.size] | %}}</p>
      </div>
      <div class="grid-cell">
        <p class="stat-name">Virtual Alloc:</p>
        <p class="center big">{{[SR.usage, SR.size] | %}}</p>
      </div>
      <div class="grid-cell">
        <p class="stat-name">VDIs:</p>
        <p class="center big">{{SR.VDIs.length}}</p>
      </div>
    </div>
  </div>
</div>

<!-- TODO: Space panel -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title">
      <i class="xo-icon-memory" style="color: #e25440;"></i> VDI Map
    </p>
    <div class="progress">
      <div
        ng-if="((VDI.size/SR.size)*100) > 0"
        ng-repeat="VDI in SR.VDIs | resolve | orderBy:'name_label'"
        class="progress-bar progress-bar-vm"
        role="progressbar"
        aria-valuemin="0"
        aria-valuenow="{{VDI.size}}"
        aria-valuemax="{{SR.size}}"
        style="width: {{[VDI.size, SR.size] | %}}"
        xo-sref="VDIs_view({uuid: VDI.UUID})"
        tooltip="{{VDI.name_label}} ({{[VDI.size, SR.size] | %}})"
      >
        <!-- display the name only if it fits in its progress bar -->
        <span ng-if="VDI.name_label.length < ((VDI.size/SR.size)*100)">{{VDI.name_label}}</span>
      </div>
    </div>
    <ul class="list-inline text-center">
      <li>Total: {{SR.size | bytesToSize}}</li>
      <li>Currently used: {{SR.usage | bytesToSize}}</li>
      <li>Available: {{SR.size-SR.usage | bytesToSize}}</li>
    </ul>
  </div>
</div>

<!-- TODO: VDIs. -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <form editable-form name="srDisks" onaftersave="saveTable()" oncancel="cancel()">
      <p class="flat-panel-title">
        <i class="fa fa-hdd-o" style="color: #e25440;"></i> Virtual disks
        <span class="quick-edit" tooltip="Edit disks" ng-click="srDisks.$show()">
          <i class="fa fa-edit fa-fw"> </i>
        </span>
        <span class="quick-edit" tooltip="Rescan" ng-click="rescanSr()">
          <i class="fa fa-refresh fa-fw"> </i>
        </span>
      </p>
      <table class="table table-hover">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Size</th>
          <th>Attached to:</th>
        </tr>
        <tr
          ng-repeat="VDI in SR.VDIs | resolve | orderBy:'name_label'"
          xo-sref="VDIs_view({uuid: VDI.UUID})"
        >
          <td>
            <span editable-text="VDI.name_label" e-name="name_description" e-form="srDisks">
              {{VDI.name_label}} <span ng-if="VDI.$snapshot_of" class="label label-info">snapshot</span>
            </span>
          </td>
          <td>
            <span editable-text="VDI.name_description" e-name="name_description" e-form="srDisks">
              {{VDI.name_description}}
            </span>
          </td>
          <td>
            <span editable-text="VDI.size" e-name="size" e-form="srDisks">
              {{VDI.size | bytesToSize}}
            </span>
          </td>
          <td ng-if="((VDI.$VBD | resolve).VM)">
            {{(((VDI.$VBD | resolve).VM) | resolve).name_label}}
            <button type="button" ng-show="srDisks.$visible" ng-click="disconnectVDI(VDI.UUID)" class="btn btn-sm btn-danger pull-right" tooltip="Disconnect this disk"><i class="fa fa-unlink fa-lg"></i></button>
          </td>
          <td ng-if="!((VDI.$VBD | resolve).VM)">
            <button type="button" ng-show="srDisks.$visible" ng-click="destroyVDI(VDI.UUID)" class="btn btn-sm btn-danger pull-right" tooltip="Destroy this disk"><i class="fa fa-trash-o fa-lg"></i></button>
          </td>
        </tr>
      </table>
      <div class="btn-form" ng-show="srDisks.$visible">
        <p class="center">
          <button type="button" ng-disabled="srDisks.$waiting" ng-click="srDisks.$cancel()" class="btn btn-default"><i class="fa fa-times"></i> Cancel</button>
          <button type="button" ng-disabled="srDisks.$waiting" ng-click="saveChanges()" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
          <button type="button" ng-disabled="srDisks.$waiting" ng-click="addVDI()" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add Disk</button>
        </p>
      </div>
    </form>
  </div>
</div>
<!-- /VDIs. -->

<!-- Hosts. -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <form editable-form name="srHosts" onaftersave="saveTable()" oncancel="cancel()">
      <p class="flat-panel-title">
        <i class="fa fa-link" style="color: #e25440;"></i> Connected hosts
        <span class="quick-edit" tooltip="Edit connected hosts" ng-click="srHosts.$show()">
          <i class="fa fa-edit fa-fw"> </i>
        </span>
        <span class="quick-edit" tooltip="Reconnect all hosts" ng-click="reconnectAllHosts()">
          <i class="fa fa-plus-square fa-fw"> </i>
        </span>
      </p>
      <table class="table table-hover">
        <th>Name</th>
        <th>Status</th>
        <tr
          ng-repeat="PBD in SR.$PBDs | resolve"
          ng-init="host = (PBD.host | resolve)"
          xo-sref="hosts_view({uuid: host.UUID})"
        >
          <td>{{host.name_label}}</td>
          <td ng-if="PBD.attached">
            <span class="label label-success">Connected</span>
            <button type="button" ng-show="srHosts.$visible" ng-click="disconnectPBD(host.UUID)" class="btn btn-sm btn-danger pull-right" tooltip="Disconnect this host"><i class="fa fa-unlink fa-lg"></i></button>
          </td>
          <td ng-if="!PBD.attached">
            <span class="label label-default">Disabled</span>
            <button type="button" ng-show="srHosts.$visible" ng-click="connectPBD(host.UUID)" class="btn btn-sm btn-primary pull-right" tooltip="Connect this host"><i class="fa fa-link fa-lg"></i></button>
          </td>
        </tr>
      </table>
    </form>
    </div>
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-comments" style="color: #e25440;"></i> Logs</p>
    <p class="center">No logs so far.</p>
  </div>
</div>
<!-- /Hosts. -->
