  <!-- TODO: lots of stuff. -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="page-title"><i class="xo-icon-vm xo-color-{{VM.power_state | lowercase}}"></i> {{VM.name_label}}</p>
  </div>
</div>
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-cogs" style="color: #e25440;"></i> General
      <span class="quick-edit" tooltip="Edit General settings" ng-click="vmSettings.$show()">
        <i class="fa fa-edit fa-fw"></i>
      </span>
    </p>
    <div class="general-properties">
      <form editable-form name="vmSettings" onbeforesave="saveVM($data)">
        <dl class="dl-horizontal">
          <dt>Name</dt>
            <dd>
              <span editable-text="VM.name_label" e-name="name_label" e-form="vmSettings">
                {{VM.name_label}}
              </span>
            </dd>
          <dt>Description</dt>
            <dd>
              <span editable-text="VM.name_description" e-name="name_description" e-form="vmSettings">
                {{VM.name_description}}
              </span>
            </dd>
          <dt ng-if="VM.power_state == ('Running' || 'Paused')">Running on:</dt>
          <dt ng-if="VM.power_state == ('Halted')">Resident on:</dt>
            <dd ng-repeat="container in [VM.$container] | resolve">
              <a xo-sref="hosts_view({id: container.UUID})">
                {{container.name_label}}
              </a>
            </dd>
          <dt>Address</dt>
            <dd ng-repeat="IP in VM.addresses">{{IP}}</dd>
          <dt>Tags</dt>
            <dd>
              <!-- TODO angular select2 in angular xeditable
              <input type="text" ui-select2="select2Options" ng-model="VM.tags" data-placeholder="tags">
              -->
            </dd>
          <dt>vCPUs</dt>
            <dd>
              <span editable-text="VM.CPUs.number" e-name="CPUs" e-form="vmSettings">
                {{VM.CPUs.number}}
              </span>
            </dd>
          <dt>RAM</dt>
            <dd>
              <span editable-text="memorySize" e-name="memory" e-form="vmSettings">
                {{memorySize}}
              </span>
            </dd>
          <dt>UUID</dt>
            <dd>{{VM.UUID}}</dd>
        </dl>
        <div class="btn-form" ng-show="vmSettings.$visible">
          <p class="center">
            <button type="button" ng-disabled="vmSettings.$waiting" ng-click="vmSettings.$cancel()" class="btn btn-default">
              <i class="fa fa-times"></i> Cancel
            </button>
            <button type="submit" ng-disabled="vmSettings.$waiting" class="btn btn-primary">
              <i class="fa fa-save"></i> Save
            </button>
          </p>
        </div>
      </form>
    </div>
  </div>
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-bar-chart-o" style="color: #e25440;"></i> Stats</p>
    <div class="grid">
      <div class="grid-cell">
        <p class="stat-name">vCPUs</p>
        <p class="center big">{{VM.CPUs.number}}</p>
      </div>
      <div class="grid-cell">
        <p class="stat-name">RAM</p>
        <p class="center big">{{VM.memory.size | bytesToSize}}</p>
      </div>
      <div class="grid-cell">
        <p class="stat-name">Disks</p>
        <p class="center big">{{VM.$VBDs.length || 0}}</p>
      </div>
    </div>
    <br/>
    <div class="grid">
      <div ng-if="VM.os_version.distro" class="grid-cell">
        <p class="stat-name">OS:</p>
        <p class="center big">
          <i tooltip="{{VM.os_version.name}}" style="color: black;" class="xo-icon-{{osType(VM.os_version.distro)}}"></i>
        </p>
      </div>
      <div class="grid-cell">
        <p class="stat-name">Xen tools:</p>
        <p class="center">
          <span ng-if="VM.PV_drivers" style="color:green;">Installed</span>
          <span ng-if="!VM.PV_drivers">NOT installed</span>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Action panel -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-flash" style="color: #e25440;"></i> Actions</p>
    <div class="grid-cell text-center">
      <div class="grid">
        <div class="grid-cell btn-group">
          <button tooltip="Stop VM" type="button" style="width: 90%" class="btn" xo-click="stopVM(VM.UUID)">
            <i class="fa fa-stop fa-2x fa-fw"></i>
          </button>
        </div>
        <div class="grid-cell btn-group">
          <button tooltip="Start VM" type="button" style="width: 90%" class="btn" xo-click="startVM(VM.UUID)">
            <i class="fa fa-play fa-2x fa-fw"></i>
          </button>
        </div>
        <div class="grid-cell btn-group">
          <button tooltip="Reboot VM" type="button" style="width: 90%" class="btn" xo-click="rebootVM(VM.UUID)">
            <i class="fa fa-refresh fa-2x fa-fw"></i>
          </button>
        </div>
        <div class="grid-cell btn-group">
            <button tooltip="Migrate VM" type="button" style="width: 90%" class="btn dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-share fa-2x fa-fw"></i>
            </button>
            <ul class="dropdown-menu left" role="menu">
              <li ng-repeat="host in hosts | orderBy:natural('name_label') track by host.UUID">
                <a ng-click="migrateVM(VM.UUID, host.UUID)">
                  <i class="xo-icon-host fa-fw"></i>
                  To {{host.name_label}}
                </a>
              </li>
            </ul>
        </div>
        <div class="grid-cell btn-group">
          <button tooltip="Force Reboot" type="button" style="width: 90%" class="btn" xo-click="force_rebootVM(VM.UUID)">
            <i class="fa fa-flash fa-2x fa-fw"></i>
          </button>
        </div>
        <div class="grid-cell btn-group">
          <button tooltip="Force Shutdown" type="button" style="width: 90%" class="btn" xo-click="force_stopVM(VM.UUID)">
            <i class="fa fa-power-off fa-2x fa-fw"></i>
          </button>
        </div>
        <div class="grid-cell btn-group">
          <button tooltip="Delete VM" type="button" style="width: 90%" class="btn" xo-click="destroyVM(VM.UUID)">
            <i class="fa fa-trash-o fa-2x fa-fw"></i>
          </button>
        </div>
        <div class="grid-cell btn-group">
          <button tooltip="Create a clone" style="width: 90%" type="button" class="btn dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-files-o fa-2x fa-fw"></i>
          </button>
            <ul class="dropdown-menu left" role="menu">
              <li>
                <a ng-click="cloneVM(VM.UUID,VM.name_label,false)">
                  <i class="fa fa-code-fork fa-fw"></i>
                  Fast clone
                </a>
              </li>
              <li>
                <a ng-click="cloneVM(VM.UUID,VM.name_label,true)">
                  <i class="xo-icon-sr fa-fw"></i>
                  Full disk copy
                </a>
              </li>
            </ul>
        </div>
        <div class="grid-cell btn-group">
          <button tooltip="Convert to template" type="button" style="width: 90%" class="btn" xo-click="convertVM(VM.UUID)">
            <i class="fa fa-thumb-tack fa-2x fa-fw"></i>
          </button>
        </div>
        <div class="grid-cell btn-group">
          <button tooltip="Create a snapshot" style="width: 90%" type="button" class="btn" xo-click="snapshotVM(VM.UUID,VM.name_label)">
            <i class="xo-icon-snapshot fa-2x fa-fw"></i>
          </button>
        </div>
        <div class="grid-cell btn-group" style="margin-bottom: 0.5em">
          <button tooltip="VM Console" type="button" style="width: 90%" class="btn" xo-sref="consoles_view({id: VM.UUID})">
            <i class="xo-icon-console fa-2x fa-fw"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Disk panel -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <form editable-form name="vmDisks" onaftersave="saveTable()" oncancel="cancel()">
      <p class="flat-panel-title">
        <i class="xo-icon-sr" style="color: #e25440;"></i> Disk
        <span class="quick-edit" tooltip="Edit disks" ng-click="vmDisks.$show()">
          <i class="fa fa-edit fa-fw"> </i>
        </span>
      </p>
      <table class="table table-hover">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Size</th>
          <th>SR</th>
          <th>Status</th>
        </tr>

        <!-- FIXME: ng-init seems to disrupt the implicit $watch. -->
        <tr
          ng-repeat="VDI in VDIs | orderBy:natural('name_label') track by VDI.UUID"
          ng-init="SR = (VDI.$SR | resolve); VBD = (VDI.$VBD | resolve)"
          xo-sref="SRs_view({id: SR.UUID})"
        >
          <td>
            <span editable-text="VDI.name_label" e-name="name_label" e-form="vmDisks" e-required>
              {{VDI.name_label}}
            </span>
          </td>
          <td>
            <span editable-text="VDI.name_description" e-name="name_description" e-form="vmDisks">
              {{VDI.name_description}}
            </span>
          </td>
          <td>
            <span editable-text="VDI.size | bytesToSize" e-name="size" e-form="vmDisks" e-required>
            {{VDI.size | bytesToSize}}
            </span>
          </td>
          <td>
            <!-- Are SR editable? will trigger moving VDI to the new SR -->
            {{SR.name_label}}
          </td>
          <td ng-if="VBD.attached">
            <span editable-checkbox="VBD.attached" e-title="Connected?" class="label label-success" e-form="vmDisks" e-required>Connected</span>
            <button type="button" ng-show="vmDisks.$visible" ng-click="disconnectVBD(VBD.UUID)" class="btn btn-sm btn-danger pull-right"><i class="fa fa-unlink fa-lg" tooltip="Disconnect this disk"></i></button>
          </td>
          <td ng-if="!VBD.attached">
            <span editable-checkbox="VBD.attached" e-title="Connected?" class="label label-default" e-form="vmDisks" e-required>Disconnected</span>
            <button type="button" ng-show="vmDisks.$visible" ng-click="deleteVDI(VDI.UUID)" class="btn btn-sm btn-danger pull-right"><i class="fa fa-trash-o fa-lg" tooltip="Remove this disk"></i></button>
          </td>
        </tr>
        <tr ng-repeat="VDI in newVDIs | resolve | orderBy:natural('name_label') track by VDI.UUID">

        </tr>
      </table>
      <div class="btn-form" ng-show="vmDisks.$visible">
        <p class="center">
          <button type="button" ng-disabled="vmDisks.$waiting" ng-click="vmDisks.$cancel()" class="btn btn-default"><i class="fa fa-times"></i> Cancel</button>
          <button type="submit" ng-disabled="vmDisks.$waiting" ng-click="saveChanges()" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
          <button type="button" ng-disabled="vmDisks.$waiting" ng-click="addVDI()" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add Disk</button>
        </p>
      </div>
    </form>
  </div>
</div>

</div>
<!-- TODO: Interface panel -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <form editable-form name="vmInterfaces" onaftersave="saveTable()" oncancel="cancel()">
      <p class="flat-panel-title"><i class="xo-icon-network" style="color: #e25440;"></i> Interface
        <span class="quick-edit" tooltip="Edit interfaces" ng-click="vmInterfaces.$show()">
          <i class="fa fa-edit fa-fw"> </i>
        </span>
      </p>
      <table class="table table-hover">
        <th>Device</th>
        <th>MAC</th>
        <th>MTU</th>
        <th>Network</th>
        <th>Link status</th>
        <tr ng-repeat="VIF in VM.VIFs | resolve | orderBy:natural('name_label') track by VIF.UUID">
          <td>VIF #{{VIF.device}}</td>
          <td>
            {{VIF.MAC}}
          </td>
          <td>
            <span editable-text="VIF.MTU" e-name="mtu" e-form="vmInterfaces" e-required>
              {{VIF.MTU}}
            </span>
          </td>
          <td>
            {{(VIF.$network | resolve).name_label}}
          </td>
          <td ng-if="VIF.attached">
            <span editable-checkbox="VIF.attached" class="label label-success">Connected</span>
            <button type="button" ng-show="vmInterfaces.$visible" ng-click="disconnectVIF(VIF.UUID)" class="btn btn-sm btn-danger pull-right"><i class="fa fa-ban fa-lg" tooltip="Disconnect this interface"></i></button>
          </td>
          <td ng-if="!VIF.attached">
            <span editable-checkbox="VIF.attached" class="label label-default">Disconnected</span>
             <button type="button" ng-show="vmInterfaces.$visible" ng-click="deleteVIF(VIF.UUID)" class="btn btn-sm btn-danger pull-right"><i class="fa fa-trash-o fa-lg" tooltip="Remove this interface"></i></button>
          </td>
        </tr>
      </table>
      <div class="btn-form" ng-show="vmInterfaces.$visible">
        <p class="center">
          <button type="button" ng-disabled="vmInterfaces.$waiting" ng-click="vmInterfaces.$cancel()" class="btn btn-default"><i class="fa fa-times"></i> Cancel</button>
          <button type="button" ng-disabled="vmInterfaces.$waiting" ng-click="saveChanges()" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
          <button type="button" ng-disabled="vmInterfaces.$waiting" ng-click="addNetwork()" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add Interface</button>
        </p>
      </div>
    </form>
  </div>
</div>

<!-- TODO: User/Group panel : DISPLAY ONLY THIS PANEL IF YOU ARE ADMIN-->
<!-- <div class="grid">
  <div class="grid-cell flat-panel">
    <form editable-form name="vmUsers" onaftersave="saveTable()" oncancel="cancel()">
      <p class="flat-panel-title"><i class="fa fa-user" style="color: #e25440;"></i> Users
        <span class="quick-edit" tooltip="Edit interfaces" ng-click="vmUsers.$show()">
          <i class="fa fa-edit fa-fw"> </i>
        </span>
      </p>
      <table class="table table-hover">
        <th>User name</th>
        <th>Permission</th>
      </table>
      <div class="btn-form" ng-show="vmUsers.$visible">
        <p class="center">
          <button type="button" ng-disabled="vmUsers.$waiting" ng-click="vmUsers.$cancel()" class="btn btn-default"><i class="fa fa-times"></i> Cancel</button>
          <button type="button" ng-disabled="vmUsers.$waiting" ng-click="saveChanges()" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
          <button type="button" ng-disabled="vmUsers.$waiting" ng-click="addNetwork()" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add User</button>
        </p>
      </div>
    </form>
  </div>
  <div class="grid-cell flat-panel">
    <form editable-form name="vmGroups" onaftersave="saveTable()" oncancel="cancel()">
      <p class="flat-panel-title"><i class="fa fa-users" style="color: #e25440;"></i> Groups
        <span class="quick-edit" tooltip="Edit interfaces" ng-click="vmGroups.$show()">
          <i class="fa fa-edit fa-fw"> </i>
        </span>
      </p>
      <table class="table table-hover">
        <th>Group name</th>
        <th>Permission</th>
      </table>
      <div class="btn-form" ng-show="vmGroups.$visible">
        <p class="center">
          <button type="button" ng-disabled="vmGroups.$waiting" ng-click="vmGroups.$cancel()" class="btn btn-default"><i class="fa fa-times"></i> Cancel</button>
          <button type="button" ng-disabled="vmGroups.$waiting" ng-click="saveChanges()" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
          <button type="button" ng-disabled="vmGroups.$waiting" ng-click="addNetwork()" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add Group</button>
        </p>
      </div>
    </form>
  </div>
</div> -->

<!-- TODO: Snapshot and Logs panels -->
<div class="grid">

  <!-- Snap panel -->
  <div class="grid-cell flat-panel">
    <form editable-form name="vmSnap" oncancel="cancel()">
      <p class="flat-panel-title"><i class="xo-icon-snapshot" style="color: #e25440;"></i> Snapshots
        <span class="quick-edit" tooltip="Edit snapshots" ng-click="vmSnap.$show()">
          <i class="fa fa-edit fa-fw"> </i>
        </span>
      </p>
      <p class="center" ng-if="!VM.snapshots.length">No snapshots</p>
      <table class="table table-hover" ng-if="VM.snapshots.length">
        <th>Date</th>
        <th>Name</th>
        <tr ng-repeat="snapshot in VM.snapshots | resolve | orderBy:'-snapshot_time' track by snapshot.UUID">
          <td>{{snapshot.snapshot_time*1e3 | date:'medium'}}</td>
          <td>
            <span editable-text="snapshot.name_label" e-name="name_label" e-form="vmSnap" onbeforesave="saveSnapshot(snapshot.UUID, $data)" >
              {{snapshot.name_label}}
            </span>
            <span class="pull-right">
              <button type="button" ng-show="vmSnap.$visible" ng-click="deleteSnapshot(snapshot.UUID)" class="btn btn-sm btn-danger"><i class="fa fa-trash-o fa-lg" tooltip="Remove this snapshot"></i></button>
              <button type="button" ng-show="vmSnap.$visible" ng-click="revertSnapshot(snapshot.UUID)" class="btn btn-sm btn-danger"><i class="fa fa-undo fa-lg" tooltip="Revert VM to this snapshot"></i></button>
            </span>
          </td>
        </tr>
      </table>
      <div class="btn-form" ng-show="vmSnap.$visible">
        <p class="center">
          <button type="button" ng-disabled="vmSnap.$waiting" ng-click="vmSnap.$cancel()" class="btn btn-default"><i class="fa fa-times"></i> Cancel</button>
          <button type="submit" ng-disabled="vmSnap.$waiting" ng-click="saveChanges()" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
        </p>
      </div>
    </form>
  </div>
  <!-- Logs panel -->
  <div class="grid-cell flat-panel">
    <form editable-form name="vmLogs" onaftersave="saveTable()" oncancel="cancel()">
      <p class="flat-panel-title"><i class="fa fa-comments" style="color: #e25440;"></i> Logs
        <span class="quick-edit" tooltip="Edit logs" ng-click="vmLogs.$show()">
          <i class="fa fa-edit fa-fw"> </i>
        </span>
      </p>
      <p class="center" ng-if="!VM.messages.length">No recent logs</p>
      <table class="table table-hover" ng-if="VM.messages.length">
        <th>Date</th>
        <th>Name</th>
        <tr ng-repeat="message in VM.messages | resolve | orderBy:'-time' track by message.UUID">
          <td>{{message.time*1e3 | date:'medium'}}</td>
          <td>
            {{message.name}}
            <button type="button" ng-show="vmLogs.$visible" ng-click="deleteLog(message.UUID)" class="btn btn-sm btn-danger pull-right"><i class="fa fa-trash-o fa-lg" tooltip="Remove this log entry"></i></button>
          </td>
        </tr>
      </table>
      <div class="btn-form" ng-show="vmLogs.$visible">
        <p class="center">
          <button type="button" ng-disabled="vmLogs.$waiting" ng-click="vmLogs.$cancel()" class="btn btn-default"><i class="fa fa-times"></i> Cancel</button>
        </p>
      </div>
    </form>
  </div>
</div>
