  <!-- TODO: lots of stuff. -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="page-title"><i class="xo-icon-vm xo-color-{{VM.power_state | lowercase}}"></i> {{VM.name_label}}</p>
  </div>
</div>
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-cogs" style="color: #e25440;"></i> General</p>
    <div class="general-properties">
      <dl class="dl-horizontal">
        <dt>Name</dt>
          <dd><a editable-text="VM.name_label">{{VM.name_label}}</a></dd>
        <dt>Description</dt>
          <dd><a editable-text="VM.name_description">{{VM.name_description}}</a></dd>
        <dt>Address</dt>
          <dd ng-repeat="IP in VM.address.ip">{{IP}}</dd>
        <dt>Tags</dt>
          <dd>
            <input type="text" ui-select2="select2Options" ng-model="VM.tags">
          </dd>
        <dt>vCPUs</dt>
          <dd>{{VM.CPUs.length}}</dd>
        <dt>RAM</dt>
          <dd><a editable-text="VM.memory.size">{{VM.memory.size | bytes}}</a></dd>
        <dt ng-if="VM.$host">Resident on</dt>
          <dd ng-if="VM.$host" ng-init="host = (VM.$host | fromUUID)">
            <a ui-sref="hosts_view({uuid: host.UUID})">{{host.name_label}}</a>
          </dd>
        <dt>UUID</dt>
          <dd>{{VM.UUID}}</dd>
      </dl>
    </div>
  </div>
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-bar-chart-o" style="color: #e25440;"></i> Stats</p>
    <div class="grid">
      <div class="grid-cell">
        <p class="stat-name">vCPUs</p>
        <p class="center big">{{VM.CPUs.length}}</p>
      </div>
      <div class="grid-cell">
        <p class="stat-name">RAM</p>
        <p class="center big">{{VM.memory.size | bytes}}</p>
      </div>
      <div class="grid-cell">
        <p class="stat-name">Disks</p>
        <p class="center big">{{VM.$VBDs.length || 0}}</p>
      </div>
    </div>
  </div>
</div>

<!-- Action panel -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-flash" style="color: #e25440;"></i> Actions</p>
    <div class="grid">
      <div class="grid-cell text-center grid-button" tooltip="Stop VM">
        <i class="fa fa-stop fa-2x fa-fw"></i>
      </div>
      <div class="grid-cell text-center grid-button" tooltip="Start VM">
        <i class="fa fa-play fa-2x fa-fw"></i>
      </div>
      <div class="grid-cell text-center grid-button" tooltip="Reboot VM">
        <i class="fa fa-refresh fa-2x fa-fw"></i>
      </div>
      <div class="grid-cell text-center grid-button" tooltip="Migrate VM">
        <i class="fa fa-mail-forward fa-2x fa-fw"></i>
      </div>
      <div class="grid-cell text-center grid-button" tooltip="Force Reboot">
        <i class="fa fa-flash fa-2x fa-fw"></i>
      </div>
      <div class="grid-cell text-center grid-button" tooltip="Force Shutdown">
        <i class="fa fa-power-off fa-2x fa-fw"></i>
      </div>
      <div class="grid-cell text-center grid-button" tooltip="Delete VM">
        <i class="fa fa-trash-o fa-2x fa-fw"></i>
      </div>
      <div class="grid-cell text-center grid-button" tooltip="Create a snapshot">
        <i class="xo-icon-snapshot fa-2x fa-fw"></i>
      </div>
      <div class="grid-cell text-center grid-button" tooltip="VM Console">
        <i class="xo-icon-console fa-2x fa-fw"></i>
      </div>
    </div>
  </div>
</div>

<!-- TODO: Disk panel -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="xo-icon-sr" style="color: #e25440;"></i> Disk</p>
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Size</th>
        <th>Physical usage</th>
      </tr>
      <tr xo-sref="VDIs_view({uuid: VDI.UUID})" ng-repeat="VDI in VM.$VBDs | fromUUID | map:'VDI' | fromUUID | orderBy:'name_label'">
        <td>{{VDI.name_label}}</td>
        <td>{{VDI.name_description}}</td>
        <td>{{VDI.size | bytes}}</td>
        <td>{{VDI.usage | bytes}}</td>
      </tr>
    </table>
    <p class="center">
      <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add Disk</button>
  </div>
</div>

<!-- TODO: Interface panel -->
<div class="grid">
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="xo-icon-network" style="color: #e25440;"></i> Interface</p>
    <table class="table table-hover">
      <th class="col-md-1">Name</th>
      <th class="col-md-1">IP</th>
      <th class="col-md-2">MAC</th>
      <th class="col-md-1">Link status</th>
      <tr>
        <td>VIF #0</td>
        <td>88.190.10.11</td>
        <td>e4:11:5b:b7:f3:8f</td>
        <td>
          <span class="label label-success">OK</span>
          <div class="quick-buttons"><div class="quick-button"><a tooltip="Delete SR"><i class="fa fa-trash-o"></i></a></div></div>
        </td>
      </tr>
    </table>
    <p class="center">
      <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add Interface</button>
  </div>
</div>

<!-- TODO: Snapshot and Logs panels -->
<div class="grid">
  <!-- Snapshots panel -->
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="xo-icon-snapshot" style="color: #e25440;"></i> Snapshot</p>
    <table class="table table-hover">
      <th>Name</th>
      <th class="col-md-8">Description</th>
      <tr>
        <td>Snap1</td>
        <td>
          Before Update kernel
          <div class="quick-buttons"><div class="quick-button"><a tooltip="Revert VM to this snapshot"><i class="fa fa-reply"></i></a><a tooltip="Remove"><i class="fa fa-trash-o"></i></a></div></div>
        </td>
      </tr>
    </table>
    </div>
  <!-- Logs panel -->
  <div class="grid-cell flat-panel">
    <p class="flat-panel-title"><i class="fa fa-comments" style="color: #e25440;"></i> Logs</p>
    <p class="center">No logs so far.</p>
  </div>

</div>
