.brand {
  padding: 0.6em;
  font-size: 1.5em;
}

.hiddenUncollapsed {
  display: none;
}

.collapsed .hiddenCollapsed {
  display: none;
}

.collapsed .hiddenUncollapsed {
  display: inherit;
}

.collapsed .centerCollapsed {
  text-align: center;
}
