.tooltipEnabled {
  background-color: #222;
  border-radius: 3px;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  margin-left: 0px;
  margin-top: 0px;
  opacity: 0.9;
  padding: 8px 21px;
  pointer-events: none;
  position: fixed;
  transition: opacity 0.3s ease-out, margin-top 0.3s ease-out, margin-left 0.3s ease-out;
  z-index: 9999;
}

.tooltipDisabled {
  display: none;
}
