.typo {
  /* 0.04em (Default) */

  letter-spacing: 0.04em;

  /* Normal */

  &.h1-black,
  &.h2-black,
  &.h3-black,
  &.h3-semi-bold,
  &.h3-medium,
  &.h4-black,
  &.h4-semi-bold,
  &.h4-medium,
  &.h5-black,
  &.h5-semi-bold,
  &.h5-medium,
  &.h6-black,
  &.h6-semi-bold,
  &.h6-medium,
  &.h7-black,
  &.h7-semi-bold,
  &.h7-medium {
    letter-spacing: normal;
  }
}
