.typo {
  /* 1.5em (Default) */
  line-height: 1.5em;

  /* 6rem */

  &.h1-black,
  &.h2-black {
    line-height: 6rem;
  }

  /* 3.2rem */

  &.h3-black,
  &.h3-semi-bold,
  &.h3-medium {
    line-height: 3.2rem;
  }
}
