.container-fluid: .row

  //- Side menu
  .col-md-2: .panel.panel-default: .panel-body: .side-menu
    ul.nav
      li
        a(ui-sref = '.acls', ui-sref-active = 'active')
          i.fa.fa-fw.fa-users
          |  ACLs

  //- Content
  .col-md-10: div(ui-view = '')
