.menu-grid
  .side-menu
    ul.nav
      li
        a(ui-sref = '.overview', ui-sref-active = 'active')
          i.fa.fa-fw.fa-dashboard.fa-menu
          span.menu-entry Overview
      li
        a(ui-sref = '.dataviz({chart:""})')
          i.fa.fa-fw.fa-pie-chart.fa-menu
          span.menu-entry Dataviz
      li
        a(ui-sref = '.stats')
          i.fa.fa-fw.fa-bar-chart.fa-menu
          span.menu-entry Stats
      li
        a(ui-sref = '.health')
          i.fa.fa-fw.fa-heartbeat.fa-menu
          span.menu-entry Health
  .side-content(ui-view = '')
